<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-web-app-capable" content="yes">  
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta content="email=no" name="format-detection" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>

    <title></title>
	
    <link rel="stylesheet" href="../../Content/css/m_Base.css">
    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../Content/lib/animate.css">
    <link rel="stylesheet" href="../../Content/lib/toast.css">
    <link rel="stylesheet" href="../../Content/css/m_Template.css">

    <link rel="stylesheet" href="../../Content/lib/FJL.css">
    <link rel="stylesheet" href="../../Content/lib/FJL.picker.css">
    <link rel="stylesheet" href="../../Content/css/m_ResumeEdit.css">
    <link rel="stylesheet" href="../../Content/css/m_ActivityEdit.css?v=20180628">
    
    <script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/lib/vue.min.js"></script>
    <script src="../../Scripts/lib/toast.js"></script>
    <script src="../../Scripts/lib/fastclick.js"></script>
    <script src="../../Scripts/lib/communication.js"></script>
    <script src="../../Scripts/js/m_Template.js"></script>
    <script src="../../Scripts/ajaxfileupload/ajaxfileupload.js"></script>
    <script src="../../Scripts/lib/babel.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <header class="top">
            <a href="m_Index.html" class="top-back"></a>
            <div class="top-title">编辑教育背景</div>
            <!-- <div class="top-save-btn">保存</div> -->
        </header>
        <div id="panel" class="wrapper">
            <section class="edit-module">
                <div class="edit-wrapper">
                    <ul class="edit-list">
                        <li class="edit-item" v-for="(item,index) in activityList" v-bind:key="index" v-bind:index="index">
                            <div class="input-group">
                                <div class="text">活动名称</div>
                                <div class="input-box">
                                    <input type="text" placeholder="请输入活动名称" class="input-item" v-model="item.ActivityName">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="text">活动时间</div>
                                <div class="input-box button-box">
                                    <button v-bind:id="'date'+index" v-bind:index="index" v-bind:class="{'date-able':item.AttendTime!==undefined&&item.AttendTime!==''}" data-options='{"type":"month","beginYear":2010,"endYear":2030}' class="btn-date mui-btn mui-btn-block" v-text="item.AttendTime!==undefined&&item.AttendTime!==''?(item.AttendTime.substr(0,4)+'年'+item.AttendTime.substr(5,2)+'月'):'请选择'"><!--请选择--></button>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="text">活动地点</div>
                                <div class="input-box">
                                    <input type="text" placeholder="请输入活动地点" class="input-item" v-model="item.AddressInfo">
                                </div>
                            </div>
                            <div class="area-group">
                                <div class="text">活动描述</div>
                                <div class="area-box">
                                    <textarea type="text" placeholder="请输入活动描述" class="area-item" v-model="item.Description"></textarea>
                                </div>
                            </div>
                            <div class="edit-box clearbox">
                                <div class="btn-resume-delete" v-on:click="deleteActivity(index)">删除</div>
                                <div class="btn-resume-save" v-on:click="saveActivity(index)">保存</div>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </section>
            
            <section class="add-container">
                <div class="btn-resume-add" v-on:click="addActivity">添加活动经历</div>
            </section>
        </div>

    </div>
    <script>
        //注册登陆key值
        var isLogin = "True";
        if (isLogin === 'True') {
            isLogin = true;
        } else {
            isLogin = false;
        }

	    var Activity = [{"ID":17,"ResumeID":31,"ActivityName":"滕讯AI研发实习生","AttendTime":"2018-03-01T00:00:00","AddressID":0,"AddressInfo":"深圳","Description":"《学术辩论》课程由英锐联合哈佛大学辩论委员会（Harvard Debate Council）、全美演讲与辩论联盟（National Speech and Debate Association，简称NSDA）共同开发，课程参照美国高中辩论课程的内容和模式，结合中国学生的英语水平和思维习惯设计而成。","CreatedUser":100019,"CreatedTime":"2018-06-28T14:42:30.263","ModifyUser":100019,"ModifyTime":"2018-06-28T14:42:30.263"},{"ID":16,"ResumeID":31,"ActivityName":"阿里巴巴实习HR助理","AttendTime":"2017-03-01T00:00:00","AddressID":0,"AddressInfo":"杭州","Description":"《学术辩论》课程由英锐联合哈佛大学辩论委员会（Harvard Debate Council）、全美演讲与辩论联盟（National Speech and Debate Association，简称NSDA）共同开发，课程参照美国高中辩论课程的内容和模式，结合中国学生的英语水平和思维习惯设计而成。","CreatedUser":100019,"CreatedTime":"2018-06-28T14:26:51.613","ModifyUser":100019,"ModifyTime":"2018-06-28T14:26:51.613"}];
        var addObj={
            "ActivityName":"",
            "AddressInfo":"",
            "Description":"",
            "AttendTime":"",
        }
    </script>
    <script src="../../Scripts/lib/FJL.min.js"></script>
    <script src="../../Scripts/lib/FJL.picker.min.js"></script>
    <script src="../../Scripts/js/m_ActivityEdit.js?v=20180628"></script>

</body>
</html>
