<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-web-app-capable" content="yes">  
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta content="email=no" name="format-detection" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>

    <title></title>
	
    <link rel="stylesheet" href="../../Content/css/m_Base.css">
    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../Content/lib/animate.css">
    <link rel="stylesheet" href="../../Content/lib/toast.css">
    <link rel="stylesheet" href="../../Content/css/m_Template.css">

    <link rel="stylesheet" href="../../Content/lib/FJL.css">
    <link rel="stylesheet" href="../../Content/lib/FJL.picker.css">
    <link rel="stylesheet" href="../../Content/css/m_ResumeEdit.css">
    <link rel="stylesheet" href="../../Content/css/m_BackgroundEdit.css?v=20180628">
    
    <script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/lib/vue.min.js"></script>
    <script src="../../Scripts/lib/toast.js"></script>
    <script src="../../Scripts/lib/fastclick.js"></script>
    <script src="../../Scripts/lib/communication.js"></script>
    <script src="../../Scripts/js/m_Template.js"></script>
    <script src="../../Scripts/ajaxfileupload/ajaxfileupload.js"></script>
    <script src="../../Scripts/lib/babel.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <header class="top">
            <a href="m_Index.html" class="top-back"></a>
            <div class="top-title">编辑教育背景</div>
        </header>
        <div id="panel" class="wrapper">
            <section class="edit-module">
                <div class="edit-wrapper">
                    <ul class="edit-list">
                        <li class="edit-item" v-for="(item,index) in backgroundList" v-bind:key="index" v-bind:index="index">
                            <div class="input-group">
                                <div class="text">学校</div>
                                <div class="input-box">
                                    <input type="text" placeholder="请输入学校名称" class="input-item" v-model="item.SchoolName">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="text">学历</div>
                                <div class="input-box select-box">
                                    <div class="content" v-bind:class="{'content-able':item.Education>=10}" v-html="item.Education>=14?'其他':(item.Education>=13?'博士':(item.Education>=12?'硕士':(item.Education>=11?'本科':(item.Education>=10?'大专':'请选择'))))"><!--请选择--></div>
                                    <select v-model="item.Education" v-on:change="changeEducation">
                                        <option value="10">大专</option>
                                        <option value="11">本科</option>
                                        <option value="12">硕士</option>
                                        <option value="13">博士</option>
                                        <option value="14">其他</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="text">专业</div>
                                <div class="input-box">
                                    <input type="text" placeholder="请输入专业名称" class="input-item" v-model="item.Major">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="text">毕业时间</div>
                                <div class="input-box button-box">
                                    <button v-bind:id="'date'+index" v-bind:index="index" v-bind:class="{'date-able':item.EndDate!==undefined&&item.EndDate!==''}" data-options='{"type":"month","beginYear":2010,"endYear":2030}' class="btn-date mui-btn mui-btn-block" v-text="item.EndDate!==undefined&&item.EndDate!==''?(item.EndDate.substr(0,4)+'年'+item.EndDate.substr(5,2)+'月'):'请选择'"><!--请选择--></button>
                                </div>
                            </div>
                            <div class="edit-box clearbox">
                                <div class="btn-resume-delete" v-on:click="deleteBackground(index)">删除</div>
                                <div class="btn-resume-save" v-on:click="SaveBackground(index)">保存</div>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </section>
            
            <section class="add-container">
                <div class="btn-resume-add" v-on:click="addBackground">添加教育经历</div>
            </section>
        </div>

    </div>
    <script>
        //注册登陆key值
        var isLogin = "True";
        if (isLogin === 'True') {
            isLogin = true;
        } else {
            isLogin = false;
        }

	    var EducationBackround =([{"ID":36,"ResumeID":31,"SchoolName":"宾夕法尼亚大学","Education":13,"Major":"计算机科学","BeginDate":"1990-01-01T00:00:00","EndDate":"2019-07-01T00:00:00","CreatedUser":100019,"CreatedTime":"2018-06-28T14:37:09.06","ModifyUser":100019,"ModifyTime":"2018-06-28T14:37:09.06"},{"ID":35,"ResumeID":31,"SchoolName":"斯坦福大学","Education":12,"Major":"计算机科学与安全","BeginDate":"1990-01-01T00:00:00","EndDate":"2016-07-01T00:00:00","CreatedUser":100019,"CreatedTime":"2018-06-28T14:35:27.94","ModifyUser":100019,"ModifyTime":"2018-06-28T14:37:25.377"},{"ID":34,"ResumeID":31,"SchoolName":"麻省理工学院","Education":11,"Major":"计算机科学与技术","BeginDate":"1990-01-01T00:00:00","EndDate":"2012-07-01T00:00:00","CreatedUser":100019,"CreatedTime":"2018-06-28T14:31:47.287","ModifyUser":100019,"ModifyTime":"2018-06-28T14:37:19.447"}]);
        var addObj={
            "SchoolName":"",
            "Education":0,
            "Major":"",
            "BeginDate":"",
            "EndDate":"",
        }
    </script>
    <script src="../../Scripts/lib/FJL.min.js"></script>
    <script src="../../Scripts/lib/FJL.picker.min.js"></script>
    <script src="../../Scripts/js/m_BackgroundEdit.js?v=20180628"></script>

</body>
</html>
