<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-web-app-capable" content="yes">  
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta content="email=no" name="format-detection" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>

    <title></title>
	
    <link rel="stylesheet" href="../../Content/css/m_Base.css">
    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../Content/lib/animate.css">
    <link rel="stylesheet" href="../../Content/lib/toast.css">
    <link rel="stylesheet" href="../../Content/css/m_Template.css">

    <link rel="stylesheet" href="../../Content/css/m_ResumeEdit.css">
    <link rel="stylesheet" href="../../Content/css/m_BackgroundEdit.css?v=20180628">
    
    <script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/lib/vue.min.js"></script>
    <script src="../../Scripts/lib/toast.js"></script>
    <script src="../../Scripts/lib/fastclick.js"></script>
    <script src="../../Scripts/lib/communication.js"></script>
    <script src="../../Scripts/js/m_Template.js"></script>
    <script src="../../Scripts/ajaxfileupload/ajaxfileupload.js"></script>
    <script src="../../Scripts/lib/babel.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <header class="top">
            <a href="m_Index.html" class="top-back"></a>
            <div class="top-title">我的后台管理</div>
            <div class="top-save-btn">保存</div>
        </header>
        <div id="panel" class="wrapper">
            <section class="edit-module">
                <div class="edit-wrapper">
                    <ul class="edit-list">
                        <li class="edit-item">
                            <div class="input-group">
                                <span class="text"></span>
                                <div class="input-box">
                                    <input type="text" placeholder="请输入学校名称" class="input-item">
                                </div>
                            </div>
                        </li>
                        <li class="edit-item"></li>
                        <li class="edit-item"></li>
                    </ul>
                </div>
            </section>
        </div>

    </div>
    <script>
        //注册登陆key值
        var isLogin = "True";
        if (isLogin === 'True') {
            isLogin = true;
        } else {
            isLogin = false;
        }

	    var EducationBackround =([{"ID":36,"ResumeID":31,"SchoolName":"宾夕法&#23612;亚大学","Education":13,"Major":"计算机科学","BeginDate":"1990-01-01T00:00:00","EndDate":"2019-07-01T00:00:00","CreatedUser":100019,"CreatedTime":"2018-06-28T14:37:09.06","ModifyUser":100019,"ModifyTime":"2018-06-28T14:37:09.06"},{"ID":35,"ResumeID":31,"SchoolName":"斯坦福大学","Education":12,"Major":"计算机科学与安全","BeginDate":"1990-01-01T00:00:00","EndDate":"2016-07-01T00:00:00","CreatedUser":100019,"CreatedTime":"2018-06-28T14:35:27.94","ModifyUser":100019,"ModifyTime":"2018-06-28T14:37:25.377"},{"ID":34,"ResumeID":31,"SchoolName":"麻省理工学院","Education":11,"Major":"计算机科学与技术","BeginDate":"1990-01-01T00:00:00","EndDate":"2012-07-01T00:00:00","CreatedUser":100019,"CreatedTime":"2018-06-28T14:31:47.287","ModifyUser":100019,"ModifyTime":"2018-06-28T14:37:19.447"}]);

    </script>
    <script src="../../Scripts/js/m_BackgroundEdit.js?v=20180628"></script>

</body>
</html>