<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-web-app-capable" content="yes">  
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta content="email=no" name="format-detection" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>

    <title></title>
	
    <link rel="stylesheet" href="../../Content/css/m_Base.css">
    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../Content/lib/animate.css">
    <link rel="stylesheet" href="../../Content/lib/toast.css">
    <link rel="stylesheet" href="../../Content/css/m_Template.css">

    <link rel="stylesheet" href="../../Content/css/m_ResumeEdit.css">
    <link rel="stylesheet" href="../../Content/css/m_SkillEdit.css?v=20180702">
    
    <script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/lib/vue.min.js"></script>
    <script src="../../Scripts/lib/toast.js"></script>
    <script src="../../Scripts/lib/fastclick.js"></script>
    <script src="../../Scripts/lib/communication.js"></script>
    <script src="../../Scripts/js/m_Template.js"></script>
    <script src="../../Scripts/ajaxfileupload/ajaxfileupload.js"></script>
    <script src="../../Scripts/lib/babel.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <header class="top">
            <a href="m_Index.html" class="top-back"></a>
            <div class="top-title">编辑语言技能</div>
            <!-- <div class="top-save-btn">保存</div> -->
        </header>
        <div id="panel" class="wrapper">
            <section class="edit-module">
                <div class="edit-wrapper">
                    <ul class="edit-list">
                        <li class="edit-item" v-for="(item,index) in skillList" v-bind:key="index" v-bind:index="index">
                            <div class="input-group">
                                <div class="text">语言/技能名称</div>
                                <div class="input-box">
                                    <input type="text" placeholder="请输入名称" class="input-item" v-model="item.SepciltyName">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="text">熟练度描述</div>
                                <div class="input-box">
                                    <input type="text" placeholder="请输入描述" class="input-item" v-model="item.SkillDescription">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="text">学历</div>
                                <div class="input-box select-box">
                                    <div class="content" v-bind:class="{'content-able':item.Skilled!==''}" v-html="item.Skilled>=350?'精通':(item.Skilled>=300?'熟练':(item.Skilled>=200?'良好':(item.Skilled>=0&&item.Skilled!==''?'一般':'请选择')))"><!--请选择--></div>
                                    <select v-model="item.Skilled" v-on:change="changeSkill">
                                        <option value="199">一般</option>
                                        <option value="299">良好</option>
                                        <option value="349">熟练</option>
                                        <option value="375">精通</option>
                                    </select>
                                </div>
                            </div>
                            <div class="edit-box clearbox">
                                <div class="btn-resume-delete" v-on:click="deleteSkill(index)">删除</div>
                                <div class="btn-resume-save" v-on:click="SaveSkill(index)">保存</div>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </section>
            
            <section class="add-container">
                <div class="btn-resume-add" v-on:click="addSkill">添加语言技能</div>
            </section>
        </div>

    </div>
    <script>
        //注册登陆key值
        var isLogin = "True";
        if (isLogin === 'True') {
            isLogin = true;
        } else {
            isLogin = false;
        }

	    var Sepcilty = [{"ID":14,"ResumeID":31,"SepciltyName":"英语CET-4","Skilled":"254","SkillDescription":"能熟练听说读写","CreatedUser":100019,"CreatedTime":"2018-06-28T11:05:45.033","ModifyUser":100019,"ModifyTime":"2018-06-28T11:05:45.033"},{"ID":15,"ResumeID":31,"SepciltyName":"日语8级","Skilled":"359","SkillDescription":"非常熟练","CreatedUser":100019,"CreatedTime":"2018-06-28T14:41:40.027","ModifyUser":100019,"ModifyTime":"2018-06-28T14:41:40.027"}];
        var addObj={
            "SepciltyName":"",
            "Skilled":"",
            "SkillDescription":""
        }
    </script>
    <script src="../../Scripts/js/m_SkillEdit.js?v=20180702"></script>

</body>
</html>
