<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-web-app-capable" content="yes">  
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta content="email=no" name="format-detection" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>

    <title></title>
	
    <link rel="stylesheet" href="../../Content/css/m_Base.css">
    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../Content/lib/animate.css">
    <link rel="stylesheet" href="../../Content/lib/toast.css">
    <link rel="stylesheet" href="../../Content/css/m_Template.css">

    <link rel="stylesheet" href="../../Content/css/m_UserInfoEdit.css?v=20180703">
    
    <script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/lib/vue.min.js"></script>
    <script src="../../Scripts/lib/toast.js"></script>
    <script src="../../Scripts/lib/fastclick.js"></script>
    <script src="../../Scripts/lib/communication.js"></script>
    <script src="../../Scripts/js/m_Template.js"></script>
    <script src="../../Scripts/ajaxfileupload/ajaxfileupload.js"></script>
    <script src="../../Scripts/lib/babel.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <header class="top">
            <a href="m_Index.html" class="top-back"></a>
            <div class="top-title">编辑个人信息</div>
        </header>
        <div id="panel" class="wrapper">

            <section class="resume-container">
                <div class="input-wrapper picture">
                    <div class="text">更换头像</div>
                    <div class="file-box">
                        <img class="head-img" v-bind:src="userInfo.PicturePath===''?'../../Content/m_img/m_empty.png':userInfo.PicturePath" onerror="nofind();" v-on:click="headClick"/>
                        <input id="PictureFile" name="file" accept=".jpg,.jpeg,.png,.bmp" onchange="filePictureChange()" type="file" class="upload-head"/>
                    </div>
                </div>
                <div class="input-wrapper gender">
                    <div class="text">性别</div>
                    <div class="radio-box">
                        <input type="radio" class="radio-item" name="radio" value="1" v-model="userInfo.Gender">
                        <span class="text" v-bind:class="{'text-active':userInfo.Gender===1}">女</span>
                        <span class="flo" v-on:click="searchType(1)"></span>
                    </div>
                    <div class="radio-box">
                        <input type="radio" class="radio-item" name="radio" value="0" v-model="userInfo.Gender">
                        <span class="text" v-bind:class="{'text-active':userInfo.Gender===0}">男</span>
                        <span class="flo" v-on:click="searchType(0)"></span>
                    </div>
                </div>
                <div class="input-wrapper name">
                    <div class="text">姓名</div>
                    <div class="input-box">
                        <input type="text" class="input-item" name="text" placeholder="请输入您的姓名" v-model="userInfo.Name">
                    </div>
                </div>
                <div class="input-wrapper tags">
                    <div class="text">标签</div>
                    <div class="input-box">
                        <a href="/My/Label" class="tag" v-html="Tags!==''?Tags:'请选择自己的标签'"></a>
                    </div>
                </div>
                <div class="input-wrapper tel">
                    <div class="text">联系电话</div>
                    <div class="input-box">
                        <input type="text" class="input-item tel-input" name="text" placeholder="请输入您的联系电话" v-model="userInfo.Tel">
                    </div>
                </div>
                <div class="input-wrapper email">
                    <div class="text">联系邮箱</div>
                    <div class="input-box">
                        <input type="text" class="input-item email-input" name="text" placeholder="请输入您的联系邮箱" v-model="userInfo.Email">
                    </div>
                </div>
                <div class="input-wrapper address">
                    <div class="text">联系地址</div>
                    <div class="input-box">
                        <input type="text" class="input-item" name="text" placeholder="请输入您的联系地址" v-model="userInfo.AddressInfo">
                    </div>
                </div>
            </section>
            <section class="resume-save-container">
                <div class="btn-resume-save" v-on:click="resumeSave" v-bind:class="{'disable':!registerBtnAble}">保存</div>
            </section>

            <section class="flo-container" v-bind:class="{'flo-container-show':menuKey}"></section>
            
        </div>

    </div>
    <script>
        //注册登陆key值
        var isLogin = "True";
        if (isLogin === 'True') {
            isLogin = true;
        } else {
            isLogin = false;
        }

	    var UserTitleList = [{"ID":54,"TitleName":"测试工程师","TitleID":3,"Remarks":"","UserID":100003}];
        var ResumeBasic ={"ID":19,"UserID":100003,"Name":"黎","Tel":"13761646494","Email":"lichxi1002@126.com","Gender":1,"AddressID":0,"AddressInfo":"上海","PicturePath":"","Content":"我是一个热爱生活的人","Remarks":null,"CreatedUser":100003,"CreatedTime":"2018-06-12T20:59:36.607","ModifyUser":100003,"ModifyTime":"2018-06-12T20:59:47.493","JobStatus":null};
	    var ResumeBasicPicturePaths = '/UserPhoto/Koala1528901850767.jpg';
        var IsAssessment = '';

    </script>
    <script src="../../Scripts/js/m_UserInfoEdit.js?v=20180703"></script>

</body>
</html>