<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<title>List</title>
		
		<!-- Public Header -->
		<link rel="stylesheet" href="../../Content/lib/bootstrap.min.css" />
		<link rel="stylesheet" href="../../Content/lib/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../Content/css/Template2.css?v=20171219"/>
		
		<!--[if lt IE 9]>
	      <script src="../../Scripts/lib/html5shiv.min.js"></script>
	      <script src="../../Scripts/lib/respond.min.js"></script>
	    <![endif]-->
	    
	    <!-- Private Header -->
	    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css"/>
	    <link rel="stylesheet" href="../../Content/css/JobList2.css?v=20171221"/>
		
	</head>
<body>
	<!--Page Public -->
	<div class="container-fluid" id="app">
		
		<!-- Top -->
		<header class="row">
			<div class="row top-box top-width">
				<div class="top-logo"><a href="../Home/Index.html"></a></div>
				<ul class="top-nav">
					<li class="top-nav-item"><a href="../Job/List.html">职位兴趣</a></li>
					<li class="top-nav-item"><a href="../Resume/Index.html">我的职位</a></li>
					<li class="top-nav-item"><a href="../Resume/Index.html">服务内容</a></li>
					<li class="top-nav-item"><a href="#">关于我们</a></li>
					<li class="top-nav-item login-register" style="display:none;" v-show="!loginKey"><a href="#">注册/登录</a></li>
					<li class="top-nav-item lr-success" style="display:none;" v-show="loginKey">
                        <a href="../../Resume/Index.html"><img src="../../Content/img/head.png" class="success-img" onerror="nofind();"/></a>
                        <div class="backstage-entrance-container">
                        	<!--<img src="../../Content/image/black.png" class="bg-filter"/>-->
						    <div class="backstage-entrance">
							    <div class="entrance-wrapper">
								    <div class="entrance-top clearbox">
									    <img src="../../Content/img/head.png" class="entrance-img" onerror="nofind();"/>
									    <div class="entrance-name">小明</div>
									    <div class="entrance-tag">数据分析&nbsp;&nbsp;数据分析&nbsp;&nbsp;吃苦耐劳 &nbsp;&nbsp;IT行业&nbsp;&nbsp;IT行业IT行业&nbsp;&nbsp;</div>
								    </div>
								    <ul class="entrance-href-box clearbox">
									    <li class="entrance-href-item"><a href="../Resume/Index.html">收藏职位</a></li>
									    <li class="entrance-href-item"><a href="../Resume/Index.html">投递职位</a></li>
									    <li class="entrance-href-item"><a href="../Resume/Index.html">有关留言</a></li>
									    <li class="entrance-href-item"><a href="../Assessment/Index.html">我的测评</a></li>
									    <li class="entrance-href-item"><a href="../Resume/Index.html">我的简历</a></li>
								    </ul>
								    <div class="entrance-back-btn login-exit">安全退出</div>
							    </div>
						    </div>
					    </div>
                    </li>
					<li class="top-nav-item top-nav-call" style="display:block;">
						<div class="top-call-msg top-call-text">求职小助手</div>
						<div class="top-call-num top-call-text">+86 400 123 4567</div>
					</li>
				</ul>
			</div>
		</header>
		
		<!--********************************************Page Private************************************-->
		<!-- Banner-->
		<div class="row top-banner"></div>
		<!-- Content -->
		<section class="row">
			
			<div class="row position clearbox">
				<!-- 搜索框 -->
				<div class="search-box">
					<input type="text" class="search-input" placeholder="请输入您想要的职位" v-model="positionName"/>
					<div class="search-btn" v-on:click="searchBtn">搜索</div>
				</div>
				<!-- 搜索选项 -->
				<div class="position-search">
					<div class="search-name" v-html="positionName"><!--研发工程师--></div>
					<div class="search-title">
						<span class="search-title-left">筛选</span>
						<span class="search-clear-btn" v-on:click="clearSelect">清空选择</span>
					</div>
					<div class="search-type search-item">
						<div class="search-item-title search-type-title">工作类型</div>
						<input type="radio" class="select-radio select-practice" name="radio" value="实习" v-model="searchObj.selectType"/>
						<input type="radio" class="select-radio select-full" name="radio" value="全职" v-model="searchObj.selectType"/>
					</div>
					<div class="search-area search-item">
						<div class="search-item-title search-area-title">选择城市</div>
						<div class="search-area-box search-select">
							<div class="search-select-value search-area-value" v-html="searchObj.areaValue!==''?searchObj.areaValue:'请选择'" v-on:click="searchArea" v-bind:class="{searched:areaKey}"><!--深圳--></div>
							<ul class="search-select-list clearbox" style="display:none;" v-show="areaKey">
								<li class="search-select-item search-area" v-for='item in areaList' v-bind:key="item.ID" v-html="item.Name" v-on:click="areaItem(item)"><!--上海--></li>
							</ul>
						</div>
					</div>
					<div class="search-item search-pay">
						<div class="search-item-title search-area-title">期望薪资</div>
						<div class="search-pay-box">
							<input id="range" style="display:none;"/>
						</div>
					</div>
					<div class="search-industry search-item">
						<div class="search-item-title search-a-title">选择行业</div>
						<div class="search-industry-box search-select">
							<div class="search-select-value search-industry-value" v-html="searchObj.industryValue!==''?searchObj.industryValue:'请选择'" v-on:click="searchIndustry" v-bind:class="{searched:industryKey}"><!--半导体--></div>
							<ul class="search-select-list clearbox" style="display:none;" v-show="industryKey">
								<li class="search-select-item search-industry" v-for='item in industryList' v-bind:key="item.ID" v-html="item.Name" v-on:click="industryItem(item)"><!--IT互联网--></li>
							</ul>
						</div>
					</div>
					<div class="search-position search-item">
						<div class="search-item-title search-position-title">职位</div>
						<div class="search-position-box search-select">
							<div class="search-select-value search-position-value" v-html="searchObj.positionValue!==''?searchObj.positionValue:'请选择'" v-on:click="searchPosition" v-bind:class="{searched:positionKey}"><!--开发--></div>
							<ul class="search-select-list clearbox" style="display:none;" v-show="positionKey">
								<li class="search-select-item search-position" v-for='item in PostList' v-bind:key="item.ID" v-html="item.Name" v-on:click="positionItem(item)"><!--法律--></li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- 搜素职位 -->
				<div class="position-box">
					<ul class="position-list">
						<li class="position-item clearbox" v-for="item in positionList" v-bind:key="item.ID" v-on:index="item.ID">
							<img class="position-company-img" v-bind:src="item.ImgUrl" v-on:error="ImgError"/>
							<div class="position-msg-box">
								<a class="position-msg-href" v-bind:href="'Index.html?ID='+item.ID"><span class="position-name" v-html="item.Name" v-bind:index="item.ID"><!--新媒体运营--></span></a>
								<div class="position-company" v-html="item.Company"><!--有鱼金融科技--></div>
								<div class="position-demand">
									<span class="demand-experience" v-html="'经验'+item.Experience"><!--经验3-5年--></span>
									<span class="demand-education" v-html="item.Education?'/'+item.Education:''"><!--/本科--></span>
									<span class="demand-area" v-html="item.Area?'/'+item.Area:''"><!--/北京-丰台区--></span>
								</div>
								<ul class="position-tag-list clearbox">
									<li class="tag-item" v-for="tag in item.Tag" v-bind:key="tag.ID" v-bind:index="tag.ID" v-html="tag.TagName"><!--运营--></li>
								</ul>
								<div class="position-star-box">
									<span class="position-star">
										<i class="fa fa-star" aria-hidden="true" style="display:none;" v-show="item.Star>=1"></i>
										<i class="fa fa-star" aria-hidden="true" style="display:none;" v-show="item.Star>=2"></i>
										<i class="fa fa-star" aria-hidden="true" style="display:none;" v-show="item.Star>=3"></i>
										<i class="fa fa-star" aria-hidden="true" style="display:none;" v-show="item.Star>=4"></i>
										<i class="fa fa-star" aria-hidden="true" style="display:none;" v-show="item.Star>=5"></i>
									</span>
									<span class="position-commend" v-html="item.Comment+'已学习'"><!--24324人已学习--></span>
								</div>
								<div class="position-like">
									<span class="like-icon no-like" v-bind:index="item.ID" v-on:click="likeCut(item.ID,$event)"></span>
									<span class="like-num" v-html="item.Like"><!--78867--></span>
								</div>
							</div>
							<div class="position-resume-box">
								<div class="position-match" style="display:none;" v-bind:id="'indicatorContainer'+item.ID" v-show="loginKey"></div>
								<div class="position-empty-match" style="display:none;" v-show="!loginKey">
									<div class="position-empty-login-btn" v-bind:index="item.ID" v-on:click="viewMath(item.ID)">登录查看匹配度</div>
								</div>
								<div class="position-resume-btn" v-bind:index="item.ID"><a class="position-resume-href" v-bind:href="'Index.html?ID='+item.ID">投递简历</a></div>
							</div>
						</li>
					</ul>
					<div class="tcdPageCode"></div>
				</div>
				
				<!-- 推荐职位 -->
				<div class="position-recommend">
					<div class="recommend-top" style="display:none;" v-show="loginKey">
						<div class="recommend-title">
							<i class="material-icons recommend-title-icon">&#xE80E;</i>
							<span class="recommend-title-text">推荐职位</span>
						</div>
						<div class="recommend-msg">根据您的测评和简历进行大数据分析推荐更适合您的职位</div>
					</div>
					<ul class="recommend-list" style="display:none;" v-show="loginKey">
						<li class="recommend-item clearbox" v-for="item in recommendList" v-bind:key="item.ID" v-bind:index="item.ID">
							<img class="recommend-company-img" v-bind:src="item.ImgUrl" v-on:error="ImgError"/>
							<div class="recommend-name" v-html="item.Name"><!--海外广告投放--></div>
							<div class="recommend-company" v-html="item.Company"><!--洋葱数学--></div>
							<div class="recommend-msg">
								<span class="demand-experience" v-html="'经验'+item.Experience"><!--经验3-5年--></span>
								<span class="demand-education" v-html="item.Education?'/'+item.Education:''"><!--/本科--></span>
								<span class="demand-area" v-html="item.Area?'/'+item.Area:''"><!--/北京-丰台区--></span>
							</div>
							<div class="recommend-operation clearbox">
								<div class="recommend-detail-btn recommend-btn" v-bind:index="item.ID"><a class="position-detail-href" v-bind:href="'Index.html?ID='+item.ID">查看详情</a></div>
								<div class="recommend-resume-btn recommend-btn" v-bind:index="item.ID"><a class="position-recommend-href" v-bind:href="'Index.html?ID='+item.ID">投递简历</a></div>
							</div>
						</li>
					</ul>
					<div class="recommend-empty" style="display:none;" v-show="!loginKey">
						<div class="empty-top">登陆后根据您的测评和简历进行大数据分析推荐更适合您的职位。</div>
						<div class="empty-msg">登录并完成测评，可根据您的大数据分析推荐职位，匹配率最高可达</div>
						<div class="empty-degree">99%</div>
						<div class="empty-login-btn" v-on:click="emptyLogin">立即登录</div>
					</div>
					<div class="recommend-contact clearbox">
						<img src="../../Content/image/erwei.png"/>
						<div class="recommend-contact-text">有问题？码上就问</div>
						<div class="recommend-contact-call recommend-contact-item">
							<i class="material-icons">&#xE0B0;</i>
							<span>(+86) 021-31336975</span>
						</div>
						<div class="recommend-contact-email recommend-contact-item">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<span>mickeyge@knx.com.cn</span>
						</div>
					</div>
				</div>
			</div>
			
		</section>
		<!--********************************************Page Private End*********************************-->
		
		<!-- aside -->
		<aside>
			<div class="aside-container">
				<div class="aside-back-top aside-item">TOP</div>
				<div class="aside-call aside-item">
					<i class="material-icons">&#xE0B0;</i>
				</div>
				<div class="aside-weixin aside-item">
					<i class="fa fa-weixin" aria-hidden="true"></i>
				</div>
				<div class="aside-share aside-item">
					<i class="material-icons">&#xE80D;</i>
				</div>
			</div>
		</aside>
		
		<!-- Login and Register Dialog -->
		<div class="lr-container">
			<div class="lr-wrapper">
				<div class="lr-box">
					<div class="lr-cancel"></div>
					<div class="lr-btn-box clearbox">
						<div class="login-btn lr-btn">
							登录
							<div class="btn-line"></div>
						</div>
						<div class="register-btn lr-btn">
							注册
							<div class="btn-line"></div>
						</div>
					</div>
					<div class="login-box">
						<div class="login-title">欢迎登录Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item login-phone" placeholder="请输入登录手机号" maxlength="11"/>
							</div>
							<div class="login-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item login-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="28"/>
							</div>
							<div class="login-password-tips lr-tips"></div>
							<div class="rf-box clearbox">
								<div class="remember-password-box lr-checkbox-box">
									<div class="yes rp-yes lr-checkbox"></div>
									<div class="no rp-no lr-checkbox"></div>
									<div class="rp-text lr-text">记住密码</div>
								</div>
								<div class="forget-password-box lr-text">忘记密码？</div>
							</div>
							<div class="lr-login-btn lr-confirm-btn">登录</div>
						</div>
					</div>
					<div class="register-box">
						<div class="register-title">欢迎注册Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item register-username" placeholder="请输入用户名" maxlength="20"/>
							</div>
							<div class="register-username-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item register-phone" placeholder="请输入注册手机号" maxlength="11"/>
							</div>
							<div class="register-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item test-code" placeholder="请输入验证码" maxlength="6"/>
								<div class="get-code-btn">获取验证码</div>
							</div>
							<div class="code-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item register-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="20"/>
							</div>
							<div class="register-password-tips lr-tips"></div>
							<div class="protocol-box lr-checkbox-box">
								<div class="yes protocol-yes lr-checkbox"></div>
								<div class="no protocol-no lr-checkbox"></div>
								<div class="lr-text">同意《Caree Success注册协议》</div>
							</div>
							<div class="lr-register-btn-box clearbox">
								<div class="complate-msg-btn">完善信息</div>
								<div class="lr-register-btn">直接注册</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bottom -->
		<footer class="row">
			<div class="foot-box">
				<div class="foot-left">
					<ul class="foot-href">
						<li class="foot-href-item"><a href="">网站首页</a></li>
						<li class="foot-href-item"><a href="">企业合作</a></li>
						<li class="foot-href-item"><a href="">人才招聘</a></li>
						<li class="foot-href-item"><a href="">联系我们</a></li>
						<li class="foot-href-item"><a href="">讲师招募</a></li>
						<li class="foot-href-item"><a href="">常见问题</a></li>
						<li class="foot-href-item"><a href="">意见反馈</a></li>
						<li class="foot-href-item"><a href="">友情链接</a></li>
					</ul>
					<div class="about-other">©肯耐珂萨 2016 | 沪ICP备09051952号-2</div>
				</div>
				<ul class="foot-right">
					<li class="foot-right-item foot-weixin">
						<i class="fa fa-weixin" aria-hidden="true"></i>
					</li>
					<li class="foot-right-item foot-recommend">
						<i class="material-icons">&#xE0BF;</i>
					</li>
					<li class="foot-right-item foot-call">
						<i class="material-icons">&#xE0B0;</i>
					</li>
				</ul>
			</div>
		</footer>                                
	</div>
	
	<!-- Public JS -->
	<script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
	<script src="../../Scripts/lib/vue.min.js"></script>
	<script src="../../Scripts/lib/communication.js"></script>
	<script src="../../Scripts/js/Template2.js?v=20171221"></script>
	
	
	<!-- Private JS -->
	<script src="../../Scripts/mock/jobList_mock.js"></script>
	<script src="../../Scripts/lib/job_radialIndicator.js"></script>
	<script src="../../Scripts/lib/jquery.page.js"></script>
	<script src="../../Scripts/lib/ion.rangeSlider.min.js"></script>
	<script src="../../Scripts/js/JobList2.js?v=20171221"></script>
	
</body>
</html>




