<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<title>List</title>
		
		<!-- Public Header -->
		<link rel="stylesheet" href="../../Content/lib/bootstrap.min.css" />
		<link rel="stylesheet" href="../../Content/lib/font-awesome.min.css"/>
		<link rel="stylesheet" href="../../Content/css/Template2.css?v=20171219"/>
		
		<!--[if lt IE 9]>
	      <script src="../../Scripts/lib/html5shiv.min.js"></script>
	      <script src="../../Scripts/lib/respond.min.js"></script>
	    <![endif]-->
	    
	    <!-- Private Header -->
	    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css"/>
	    <link rel="stylesheet" href="../../Content/css/JobList2.css?v=20171221"/>
		
	</head>
<body>
	<!--Page Public -->
	<div class="container-fluid">
		
		<!-- Top -->
		<header class="row">
			<div class="row top-box top-width">
				<div class="top-logo"></div>
				<ul class="top-nav">
					<li class="top-nav-item" style="display:none;"><a href="../Home/Index.html">首页</a></li>
					<li class="top-nav-item" style="display:none;"><a href="../Job/List.html">职位兴趣</a></li>
					<li class="top-nav-item" style="display:none;"><a href="../Resume/Index.html">我的职位</a></li>
					<li class="top-nav-item" style="display:none;"><a href="../Resume/Index.html">服务内容</a></li>
					<li class="top-nav-item" style="display:none;"><a href="#">关于我们</a></li>
					<li class="top-nav-item top-nav-search" style="display:block;">
						<input type="text" class="top-search-input" placeholder="请输入您想要的职位"/>
						<div class="top-search-btn">搜索</div>
					</li>
					<li class="top-nav-item login-register" style="display:block;"><a href="#">注册/登录</a></li>
					<li class="top-nav-item top-nav-call" style="display:block;">
						<div class="top-call-msg top-call-text">求职小助手</div>
						<div class="top-call-num top-call-text">+86 400 123 4567</div>
					</li>
				</ul>
			</div>
		</header>
		
		<!--********************************************Page Private************************************-->
		<!-- Banner-->
		<div class="row top-banner">
			
		</div>
		<!-- Content -->
		<section class="row">
			<div class="row position clearbox">
				
				<!-- 搜索选项 -->
				<div class="position-search">
					<div class="search-name">研发工程师</div>
					<div class="search-title">
						<span class="search-title-left">筛选</span>
						<span class="search-clear-btn">清空选择</span>
					</div>
					<div class="search-area search-item">
						<div class="search-item-title search-area-title">选择区域</div>
						<select class="search-area-box search-select" value="上海">
							<option value ="上海">上海</option>
  							<option value ="深圳">深圳</option>
							<option value="广州">广州</option>
							<option value="北京">北京</option>
						</select>
					</div>
					<div class="search-item search-pay">
						<div class="search-item-title search-area-title">期望薪资</div>
						<div class="search-pay-box">
							<div class="search-bar">
								<div class="search-bar-box">
									<div class="search-bar-left search-bar-circle">
										<span class="search-pay-min search-pay-num">￥1000</span>
									</div>
									<div class="search-bar-right search-bar-circle">
										<span class="search-pay-max search-pay-num">￥8000</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="search-area search-item">
						<div class="search-item-title search-area-title">选择行业</div>
						<select class="search-area-box search-select" value="房地产">
							<option value ="半导体">半导体</option>
  							<option value ="IT互联网">IT互联网</option>
							<option value="物流">物流</option>
							<option value="零售">零售</option>
						</select>
					</div>
					<div class="search-area search-item">
						<div class="search-item-title search-area-title">职位</div>
						<select class="search-area-box search-select" value="销售">
							<option value ="开发">开发</option>
  							<option value ="客服">客服</option>
							<option value="管理">管理</option>
							<option value="法律">法律</option>
						</select>
					</div>
				</div>
				
				<!-- 搜素职位 -->
				<div class="position-box">
					<ul class="position-list">
						<li class="position-item clearbox">
							<img src="../../Content/image/job_list_company01.png" class="position-company-img"/>
							<div class="position-msg-box">
								<span class="position-name">新媒体运营</span>
								<div class="position-company">有鱼金融科技</div>
								<div class="position-demand">经验3-5年/本科/北京-丰台区</div>
								<ul class="position-tag-list clearbox">
									<li class="tag-item">运营</li>
									<li class="tag-item">数据分析</li>
									<li class="tag-item">微信开发</li>
								</ul>
								<div class="position-star-box">
									<span class="position-star">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
									<span class="position-commend">24324人已学习</span>
								</div>
								<div class="position-like">
									<span class="like-icon no-like"></span>
									<span class="like-num">78867</span>
								</div>
							</div>
							<div class="position-resume-box">
								<div class="position-match" id="indicatorContainer0" style="display:none;"></div>
								<div class="position-empty-match">
									<div class="position-empty-login-btn">登录查看匹配度</div>
								</div>
								<div class="position-resume-btn">投递简历</div>
							</div>
						</li>
						<li class="position-item clearbox">
							<img src="../../Content/image/job_list_company02.png" class="position-company-img"/>
							<div class="position-msg-box">
								<span class="position-name">新媒体运营</span>
								<div class="position-company">有鱼金融科技</div>
								<div class="position-demand">经验3-5年/本科/北京-丰台区</div>
								<ul class="position-tag-list clearbox">
									<li class="tag-item">运营</li>
									<li class="tag-item">数据分析</li>
									<li class="tag-item">微信开发</li>
								</ul>
								<div class="position-star-box">
									<span class="position-star">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
									<span class="position-commend">24324人已学习</span>
								</div>
								<div class="position-like">
									<span class="like-icon no-like"></span>
									<span class="like-num">78867</span>
								</div>
							</div>
							<div class="position-resume-box">
								<div class="position-match" id="indicatorContainer1"></div>
								<div class="position-resume-btn">投递简历</div>
							</div>
						</li>
						<li class="position-item clearbox">
							<img src="../../Content/image/job_list_company03.png" class="position-company-img"/>
							<div class="position-msg-box">
								<span class="position-name">新媒体运营</span>
								<div class="position-company">有鱼金融科技</div>
								<div class="position-demand">经验3-5年/本科/北京-丰台区</div>
								<ul class="position-tag-list clearbox">
									<li class="tag-item">运营</li>
									<li class="tag-item">数据分析</li>
									<li class="tag-item">微信开发</li>
								</ul>
								<div class="position-star-box">
									<span class="position-star">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
									<span class="position-commend">24324人已学习</span>
								</div>
								<div class="position-like">
									<span class="like-icon no-like"></span>
									<span class="like-num">78867</span>
								</div>
							</div>
							<div class="position-resume-box">
								<div class="position-match" id="indicatorContainer2"></div>
								<div class="position-resume-btn">投递简历</div>
							</div>
						</li>
						<li class="position-item clearbox">
							<img src="../../Content/image/job_list_company04.png" class="position-company-img"/>
							<div class="position-msg-box">
								<span class="position-name">新媒体运营</span>
								<div class="position-company">有鱼金融科技</div>
								<div class="position-demand">经验3-5年/本科/北京-丰台区</div>
								<ul class="position-tag-list clearbox">
									<li class="tag-item">运营</li>
									<li class="tag-item">数据分析</li>
									<li class="tag-item">微信开发</li>
								</ul>
								<div class="position-star-box">
									<span class="position-star">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
									<span class="position-commend">24324人已学习</span>
								</div>
								<div class="position-like">
									<span class="like-icon no-like"></span>
									<span class="like-num">78867</span>
								</div>
							</div>
							<div class="position-resume-box">
								<div class="position-match" id="indicatorContainer3"></div>
								<div class="position-resume-btn">投递简历</div>
							</div>
						</li>
						<li class="position-item clearbox">
							<img src="../../Content/image/job_list_company05.png" class="position-company-img"/>
							<div class="position-msg-box">
								<span class="position-name">新媒体运营</span>
								<div class="position-company">有鱼金融科技</div>
								<div class="position-demand">经验3-5年/本科/北京-丰台区</div>
								<ul class="position-tag-list clearbox">
									<li class="tag-item">运营</li>
									<li class="tag-item">数据分析</li>
									<li class="tag-item">微信开发</li>
								</ul>
								<div class="position-star-box">
									<span class="position-star">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
									<span class="position-commend">24324人已学习</span>
								</div>
								<div class="position-like">
									<span class="like-icon no-like"></span>
									<span class="like-num">78867</span>
								</div>
							</div>
							<div class="position-resume-box">
								<div class="position-match" id="indicatorContainer4"></div>
								<div class="position-resume-btn">投递简历</div>
							</div>
						</li>
						<li class="position-item clearbox">
							<img src="../../Content/image/job_list_company06.png" class="position-company-img"/>
							<div class="position-msg-box">
								<span class="position-name">新媒体运营</span>
								<div class="position-company">有鱼金融科技</div>
								<div class="position-demand">经验3-5年/本科/北京-丰台区</div>
								<ul class="position-tag-list clearbox">
									<li class="tag-item">运营</li>
									<li class="tag-item">数据分析</li>
									<li class="tag-item">微信开发</li>
								</ul>
								<div class="position-star-box">
									<span class="position-star">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
									<span class="position-commend">24324人已学习</span>
								</div>
								<div class="position-like">
									<span class="like-icon no-like"></span>
									<span class="like-num">78867</span>
								</div>
							</div>
							<div class="position-resume-box">
								<div class="position-match" id="indicatorContainer5"></div>
								<div class="position-resume-btn">投递简历</div>
							</div>
						</li>
					</ul>
					<div class="tcdPageCode"></div>
				</div>
				
				<!-- 推荐职位 -->
				<div class="position-recommend">
					<div class="recommend-top">
						<div class="recommend-title">
							<i class="material-icons recommend-title-icon">&#xE80E;</i>
							<span class="recommend-title-text">推荐职位</span>
						</div>
						<div class="recommend-msg">根据您的测评和简历进行大数据分析推荐更适合您的职位</div>
					</div>
					<ul class="recommend-list">
						<li class="recommend-item clearbox">
							<img src="../../Content/image/job_recommend_company01.png" class="recommend-company-img"/>
							<div class="recommend-name">海外广告投放</div>
							<div class="recommend-company">洋葱数学</div>
							<div class="recommend-msg">经验3-5年/本科/长沙-岳麓区</div>
							<div class="recommend-operation clearbox">
								<div class="recommend-detail-btn recommend-btn">查看详情</div>
								<div class="recommend-resume-btn recommend-btn">投递简历</div>
							</div>
						</li>
						<li class="recommend-item clearbox">
							<img src="../../Content/image/job_recommend_company02.png" class="recommend-company-img"/>
							<div class="recommend-name">海外广告投放</div>
							<div class="recommend-company">洋葱数学</div>
							<div class="recommend-msg">经验3-5年/本科/长沙-岳麓区</div>
							<div class="recommend-operation clearbox">
								<div class="recommend-detail-btn recommend-btn">查看详情</div>
								<div class="recommend-resume-btn recommend-btn">投递简历</div>
							</div>
						</li>
						<li class="recommend-item clearbox">
							<img src="../../Content/image/job_recommend_company03.png" class="recommend-company-img"/>
							<div class="recommend-name">海外广告投放</div>
							<div class="recommend-company">洋葱数学</div>
							<div class="recommend-msg">经验3-5年/本科/长沙-岳麓区</div>
							<div class="recommend-operation clearbox">
								<div class="recommend-detail-btn recommend-btn">查看详情</div>
								<div class="recommend-resume-btn recommend-btn">投递简历</div>
							</div>
						</li>
						<li class="recommend-item clearbox">
							<img src="../../Content/image/job_recommend_company04.png" class="recommend-company-img"/>
							<div class="recommend-name">海外广告投放</div>
							<div class="recommend-company">洋葱数学</div>
							<div class="recommend-msg">经验3-5年/本科/长沙-岳麓区</div>
							<div class="recommend-operation clearbox">
								<div class="recommend-detail-btn recommend-btn">查看详情</div>
								<div class="recommend-resume-btn recommend-btn">投递简历</div>
							</div>
						</li>
						<li class="recommend-item clearbox">
							<img src="../../Content/image/job_recommend_company02.png" class="recommend-company-img"/>
							<div class="recommend-name">海外广告投放</div>
							<div class="recommend-company">洋葱数学</div>
							<div class="recommend-msg">经验3-5年/本科/长沙-岳麓区</div>
							<div class="recommend-operation clearbox">
								<div class="recommend-detail-btn recommend-btn">查看详情</div>
								<div class="recommend-resume-btn recommend-btn">投递简历</div>
							</div>
						</li>
						<li class="recommend-item clearbox">
							<img src="../../Content/image/job_recommend_company03.png" class="recommend-company-img"/>
							<div class="recommend-name">海外广告投放</div>
							<div class="recommend-company">洋葱数学</div>
							<div class="recommend-msg">经验3-5年/本科/长沙-岳麓区</div>
							<div class="recommend-operation clearbox">
								<div class="recommend-detail-btn recommend-btn">查看详情</div>
								<div class="recommend-resume-btn recommend-btn">投递简历</div>
							</div>
						</li>
					</ul>
					<div class="recommend-empty" style="display:none;">
						<div class="empty-top">登陆后根据您的测评和简历进行大数据分析推荐更适合您的职位。</div>
						<div class="empty-msg">登录并完成测评，可根据您的大数据分析推荐职位，匹配率最高可达</div>
						<div class="empty-degree">99%</div>
						<div class="empty-login-btn">立即登录</div>
					</div>
					<div class="recommend-contact clearbox">
						<img src="../../Content/image/erwei.png"/>
						<div class="recommend-contact-text">有问题？码上就问</div>
						<div class="recommend-contact-call recommend-contact-item">
							<i class="material-icons">&#xE0B0;</i>
							<span>(+86) 021-31336975</span>
						</div>
						<div class="recommend-contact-email recommend-contact-item">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<span>mickeyge@knx.com.cn</span>
						</div>
					</div>
				</div>
			</div>
			
		</section>
		<!--********************************************Page Private End*********************************-->
		
		<!-- Login and Register Dialog -->
		<div class="lr-container">
			<div class="lr-wrapper">
				<div class="lr-box">
					<div class="lr-cancel"></div>
					<div class="lr-btn-box clearbox">
						<div class="login-btn lr-btn">
							登录
							<div class="btn-line"></div>
						</div>
						<div class="register-btn lr-btn">
							注册
							<div class="btn-line"></div>
						</div>
					</div>
					<div class="login-box">
						<div class="login-title">欢迎登录Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item login-phone" placeholder="请输入登录手机号" maxlength="11"/>
							</div>
							<div class="login-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item login-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="28"/>
							</div>
							<div class="login-password-tips lr-tips"></div>
							<div class="rf-box clearbox">
								<div class="remember-password-box lr-checkbox-box">
									<div class="yes rp-yes lr-checkbox"></div>
									<div class="no rp-no lr-checkbox"></div>
									<div class="rp-text lr-text">记住密码</div>
								</div>
								<div class="forget-password-box lr-text">忘记密码？</div>
							</div>
							<div class="lr-login-btn lr-confirm-btn">登录</div>
						</div>
					</div>
					<div class="register-box">
						<div class="register-title">欢迎注册Career Success</div>
						<div class="form-box">
							<div class="input-box">
								<input type="text" class="input-item register-username" placeholder="请输入用户名" maxlength="20"/>
							</div>
							<div class="register-username-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item register-phone" placeholder="请输入注册手机号" maxlength="11"/>
							</div>
							<div class="register-phone-tips lr-tips"></div>
							<div class="input-box">
								<input type="text" class="input-item test-code" placeholder="请输入验证码" maxlength="6"/>
								<div class="get-code-btn">获取验证码</div>
							</div>
							<div class="code-tips lr-tips"></div>
							<div class="input-box">
								<input type="password" class="input-item register-password" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="20"/>
							</div>
							<div class="register-password-tips lr-tips"></div>
							<div class="protocol-box lr-checkbox-box">
								<div class="yes protocol-yes lr-checkbox"></div>
								<div class="no protocol-no lr-checkbox"></div>
								<div class="lr-text">同意《Caree Success注册协议》</div>
							</div>
							<div class="lr-register-btn-box clearbox">
								<div class="complate-msg-btn">完善信息</div>
								<div class="lr-register-btn">直接注册</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bottom -->
		<footer class="row">
			<div class="foot-box">
				<div class="foot-left">
					<ul class="foot-href">
						<li class="foot-href-item"><a href="">网站首页</a></li>
						<li class="foot-href-item"><a href="">企业合作</a></li>
						<li class="foot-href-item"><a href="">人才招聘</a></li>
						<li class="foot-href-item"><a href="">联系我们</a></li>
						<li class="foot-href-item"><a href="">讲师招募</a></li>
						<li class="foot-href-item"><a href="">常见问题</a></li>
						<li class="foot-href-item"><a href="">意见反馈</a></li>
						<li class="foot-href-item"><a href="">友情链接</a></li>
					</ul>
					<div class="about-other">©肯耐珂萨 2016 | 沪ICP备09051952号-2</div>
				</div>
				<ul class="foot-right">
					<li class="foot-right-item foot-weixin">
						<i class="fa fa-weixin" aria-hidden="true"></i>
					</li>
					<li class="foot-right-item foot-recommend">
						<i class="material-icons">&#xE0BF;</i>
					</li>
					<li class="foot-right-item foot-call">
						<i class="material-icons">&#xE0B0;</i>
					</li>
				</ul>
			</div>
		</footer>                                
	</div>
	
	<!-- Public JS -->
	<script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
	<script src="../../Scripts/lib/vue.min.js"></script>
	<script src="../../Scripts/js/Template2.js?v=20171221"></script>
	
	<!-- Private JS -->
	<script src="../../Scripts/lib/job_radialIndicator.js"></script>
	<script src="../../Scripts/lib/jquery.page.js"></script>
	<script src="../../Scripts/js/JobList2.js?v=20171221"></script>
	
</body>
</html>




