<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-web-app-capable" content="yes">  
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta content="email=no" name="format-detection" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>

    <title></title>
	
    <link rel="stylesheet" href="../../Content/css/m_Base.css">
    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../Content/lib/animate.css">
    <link rel="stylesheet" href="../../Content/lib/toast.css">
    <link rel="stylesheet" href="../../Content/css/m_Template.css">

    
    <link rel="stylesheet" href="../../Content/lib/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="../../Content/css/m_List.css?v=20180604">
    
    <script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/lib/vue.min.js"></script>
    <script src="../../Scripts/lib/toast.js"></script>
    <script src="../../Scripts/lib/fastclick.js"></script>
    <script src="../../Scripts/lib/communication.js"></script>
    <script src="../../Scripts/js/m_Template.js"></script>
    <script src="../../Scripts/lib/babel.min.js"></script>

</head>
<body>
    <div class="container" id="app">
        <header class="top">
            <div class="top-search-btn"></div>
            <div class="top-logo"></div>
            <a href="/Home/m_User" class="top-user" style="display:none;" v-show="!loginKey"><i class="material-icons">perm_identity</i></a>
            <a href="m_User.html" class="top-login" style="display:none;" v-show="loginKey"><img src="../../Content/m_img/user_default.png" class="top-login-img"/></a>
            <div class="top-menu" v-on:click="menuHandle" v-bind:class="{'menu-rotate':menuKey}"><i class="material-icons">menu</i></div>
        </header>
        <div id="panel" class="wrapper">
            
            <section class="banner-container">
                <div class="banner-name overflow-text">研发工程师</div>
                <div class="btn-banner-show">展开选项</div>
            </section>
            
            <section class="recommend-container">
                <div class="recommend-title"><span><i class="material-icons recommend-title-icon">&#xE80E;</i></span><span>推荐职位</span></div>
                <div class="recommend-dec">根据您的测评和简历进行大数据分析推荐更适合您的职位。</div>
                <div class="recommend-box swiper-container" id="swiper1">
                    <div class="recommend-wrapper swiper-wrapper">
                        <div class="swiper-slide recommend-item">
                            <a href="/Job/m_List?Industry=银行/证券/金融行业">
                                <div class="logo-box">
                                    <img src="../../Content/m_img/m_list_logo1.png" class="logo">
                                </div>
                                <div class="name">研发工程师</div>
                                <div class="company">苹果</div>
                                <div class="demand overflow-text">
                                    <span class="experience">经验3-5年</span> 
                                    <span class="education">/本科</span>
                                    <span class="area">/北京-丰台区</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide position-item">
                            <a href="/Job/m_List?Industry=销售/客服/快消房产行业">
                                <div class="logo-box">
                                    <img src="../../Content/m_img/m_list_logo2.png" class="logo">
                                </div>
                                <div class="name">研发工程师</div>
                                <div class="company">苹果</div>
                                <div class="demand overflow-text">
                                    <span class="experience">经验3-5年</span> 
                                    <span class="education">/本科</span>
                                    <span class="area">/北京-丰台区</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide position-item">
                            <a href="/Job/m_List?Industry=产品/技术/IT互联科技行业">
                                <div class="logo-box">
                                    <img src="../../Content/m_img/m_list_logo3.png" class="logo">
                                </div>
                                <div class="name overflow-text">研发工程师</div>
                                <div class="company">苹果</div>
                                <div class="demand overflow-text">
                                    <span class="experience">经验3-5年</span> 
                                    <span class="education">/本科</span>
                                    <span class="area">/北京-丰台区</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide position-item">
                            <a href="/Job/m_List?Industry=会计/教育/法律/咨询行业">
                                <div class="logo-box">
                                    <img src="../../Content/m_img/m_list_logo4.png" class="logo">
                                </div>
                                <div class="name">研发工程师</div>
                                <div class="company">苹果</div>
                                <div class="demand overflow-text">
                                    <span class="experience">经验3-5年</span> 
                                    <span class="education">/本科</span>
                                    <span class="area">/北京-丰台区</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide position-item">
                            <a href="/Job/m_List?Industry=汽车/医药/化工/制造行业">
                                <div class="logo-box">
                                    <img src="../../Content/m_img/m_list_logo1.png" class="logo">
                                </div>
                                <div class="name">研发工程师</div>
                                <div class="company">苹果</div>
                                <div class="demand overflow-text">
                                    <span class="experience">经验3-5年</span> 
                                    <span class="education">/本科</span>
                                    <span class="area">/北京-丰台区</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="list-container">
                <div class="list-top"><span class="text">职位列表</span><span class="dec">根据您的搜索找到的职位</span></div>
                <ul class="list-box">
                    <li class="item">
                        <div class="name">研发工程师</div>
                        <div class="demand overflow-text">
                            <span class="experience">经验3-5年</span> 
                            <span class="education">/本科</span>
                            <span class="area">/北京-丰台区</span>
                        </div>
                        <ul class="tags">
                            <li class="tag">研发类</li>
                            <li class="tag">吃苦耐劳</li>
                            <li class="tag">研发类</li>
                        </ul>
                        <div class="company-box">
                            <div class="company-logo">
                                <img src="../../Content/m_img/m_list_logo1.png" class="logo">
                            </div>
                            <div class="company-name">阿里巴巴</div>
                            <div class="comment clearbox">
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="comment-num">234条评论</span>
                            </div>
                        </div>
                        <div class="like">
                            <span class="num">2288832</span>
                            <span class="icon yes"><i class="material-icons">favoriter</i></span>
                            <span class="icon no"><i class="material-icons">favorite_border</i></span>
                        </div>
                        <div class="match" id="indicatorContainer1"></div>
                    </li>
                    <li class="item">
                        <div class="name">研发工程师</div>
                        <div class="demand overflow-text">
                            <span class="experience">经验3-5年</span> 
                            <span class="education">/本科</span>
                            <span class="area">/北京-丰台区</span>
                        </div>
                        <ul class="tags">
                            <li class="tag">研发类</li>
                            <li class="tag">吃苦耐劳</li>
                            <li class="tag">研发类</li>
                        </ul>
                        <div class="company-box">
                            <div class="company-logo">
                                <img src="../../Content/m_img/m_list_logo1.png" class="logo">
                            </div>
                            <div class="company-name">阿里巴巴</div>
                            <div class="comment clearbox">
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="comment-num">234条评论</span>
                            </div>
                        </div>
                        <div class="like">
                            <span class="num">2288832</span>
                            <span class="icon yes"><i class="material-icons">favoriter</i></span>
                            <span class="icon no"><i class="material-icons">favorite_border</i></span>
                        </div>
                        <div class="match" id="indicatorContainer2"></div>
                    </li>
                    <li class="item">
                        <div class="name">研发工程师</div>
                        <div class="demand overflow-text">
                            <span class="experience">经验3-5年</span> 
                            <span class="education">/本科</span>
                            <span class="area">/北京-丰台区</span>
                        </div>
                        <ul class="tags">
                            <li class="tag">研发类</li>
                            <li class="tag">吃苦耐劳</li>
                            <li class="tag">研发类</li>
                        </ul>
                        <div class="company-box">
                            <div class="company-logo">
                                <img src="../../Content/m_img/m_list_logo1.png" class="logo">
                            </div>
                            <div class="company-name">阿里巴巴</div>
                            <div class="comment clearbox">
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="comment-num">234条评论</span>
                            </div>
                        </div>
                        <div class="like">
                            <span class="num">2288832</span>
                            <span class="icon yes"><i class="material-icons">favoriter</i></span>
                            <span class="icon no"><i class="material-icons">favorite_border</i></span>
                        </div>
                        <div class="match" id="indicatorContainer3"></div>
                    </li>
                    <li class="item">
                        <div class="name">研发工程师</div>
                        <div class="demand overflow-text">
                            <span class="experience">经验3-5年</span> 
                            <span class="education">/本科</span>
                            <span class="area">/北京-丰台区</span>
                        </div>
                        <ul class="tags">
                            <li class="tag">研发类</li>
                            <li class="tag">吃苦耐劳</li>
                            <li class="tag">研发类</li>
                        </ul>
                        <div class="company-box">
                            <div class="company-logo">
                                <img src="../../Content/m_img/m_list_logo1.png" class="logo">
                            </div>
                            <div class="company-name">阿里巴巴</div>
                            <div class="comment clearbox">
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="star"><i class="material-icons">grade</i></span>
                                <span class="comment-num">234条评论</span>
                            </div>
                        </div>
                        <div class="like">
                            <span class="num">2288832</span>
                            <span class="icon yes"><i class="material-icons">favoriter</i></span>
                            <span class="icon no"><i class="material-icons">favorite_border</i></span>
                        </div>
                        <div class="match" id="indicatorContainer4"></div>
                    </li>
                </ul>
            </section>

            <section class="flo-container" v-bind:class="{'flo-container-show':menuKey}"></section>
        </div>
        <aside id="menu" class="slider-container">
            <div class="slider-wrapper">
                <div class="slider-tip">
                    <div class="tip-text">求职小助手</div>
                    <div class="tip-num">+86 400 123 4567</div>
                </div>
                <ul class="slider-box">
                    <li class="slider-item"><a href="../Assessment/m_Welcome.html">职位兴趣</a></li>
                    <li class="slider-item"><a href="../Job/m_List.html">我的职位</a></li>
                    <li class="slider-item"><a href="../Home/m_Serve.html">服务产品</a></li>
                    <li class="slider-item"><a href="../Home/m_About.html">关于我们</a></li>
                </ul>
                <div class="btn-exit" style="display:none;" v-show="loginKey" v-on:click="exit">安全退出</div>
            </div>
        </aside>
    
    </div>
    <script>
        //注册登陆key值
        var isLogin = "False";
        if (isLogin === 'True') {
            isLogin = true;
        } else {
            isLogin = false;
        }

        var loginPicture='';
    </script>
    <script src="../../Scripts/lib/job_radialIndicator.js"></script>
    <script src="../../Scripts/lib/slideout.min.js"></script>
    <script src="../../Scripts/lib/swiper-4.2.6.min.js"></script>
    <script src="../../Scripts/js/m_List.js?v=20180604"></script>

</body>
</html>