<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-web-app-capable" content="yes">  
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta content="email=no" name="format-detection" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>

    <title></title>
	
    <link rel="stylesheet" href="../../Content/css/m_Base.css">
    <link rel="stylesheet" href="../../Content/lib/animate.css">
    <link rel="stylesheet" href="../../Content/lib/toast.css">
    <link rel="stylesheet" href="../../Content/css/m_Template.css">

    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../Content/lib/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="../../Content/css/m_List.css?v=20180604">
    
    <script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/lib/vue.min.js"></script>
    <script src="../../Scripts/lib/toast.js"></script>
    <script src="../../Scripts/lib/fastclick.js"></script>
    <script src="../../Scripts/lib/communication.js"></script>
    <script src="../../Scripts/js/m_Template.js"></script>
    <script src="../../Scripts/lib/babel.min.js"></script>

</head>
<body>
    <div class="container" id="app">
        <header class="top">
            <a href="../Job/m_List.html" class="top-search"></a>
            <div class="top-logo"></div>
            <a href="/Home/m_User" class="top-user" style="display:none;" v-show="!loginKey"><i class="material-icons">perm_identity</i></a>
            <a href="m_User.html" class="top-login" style="display:none;" v-show="loginKey"><img src="../../Content/m_img/user_default.png" class="top-login-img"/></a>
            <div class="top-menu" v-on:click="menuHandle" v-bind:class="{'menu-rotate':menuKey}"><i class="material-icons">menu</i></div>
        </header>
        <div id="panel" class="wrapper">
            
            
        </div>
        <aside id="menu" class="slider-container">
            <div class="slider-wrapper">
                <div class="slider-tip">
                    <div class="tip-text">求职小助手</div>
                    <div class="tip-num">+86 400 123 4567</div>
                </div>
                <ul class="slider-box">
                    <li class="slider-item"><a href="../Assessment/m_Welcome.html">职位兴趣</a></li>
                    <li class="slider-item"><a href="../Job/m_List.html">我的职位</a></li>
                    <li class="slider-item"><a href="../Home/m_Serve.html">服务产品</a></li>
                    <li class="slider-item"><a href="../Home/m_About.html">关于我们</a></li>
                </ul>
                <div class="btn-exit" style="display:none;" v-show="loginKey" v-on:click="exit">安全退出</div>
            </div>
        </aside>
    
    </div>
    
    <script src="../../Scripts/lib/slideout.min.js"></script>
    <script src="../../Scripts/lib/swiper-4.2.6.min.js"></script>
    <script src="../../Scripts/js/m_List.js?v=20180604"></script>

</body>
</html>