<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-web-app-capable" content="yes">  
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta content="email=no" name="format-detection" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>

    <title></title>
	
    <link rel="stylesheet" href="../../Content/css/m_Base.css">
    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../Content/lib/animate.css">
    <link rel="stylesheet" href="../../Content/lib/toast.css">
    <link rel="stylesheet" href="../../Content/css/m_Template.css">

    <link rel="stylesheet" href="../../Content/lib/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="../../Content/css/m_List.css?v=20180604">
    
    <script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/lib/vue.min.js"></script>
    <script src="../../Scripts/lib/toast.js"></script>
    <script src="../../Scripts/lib/fastclick.js"></script>
    <script src="../../Scripts/lib/communication.js"></script>
    <script src="../../Scripts/js/m_Template.js"></script>
    <script src="../../Scripts/lib/babel.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <header class="top">
            <div class="top-search-btn"></div>
            <div class="top-logo"></div>
            <a href="/Home/m_User" class="top-user" style="display:none;" v-show="!loginKey"><i class="material-icons">perm_identity</i></a>
            <a href="m_User.html" class="top-login" style="display:none;" v-show="loginKey"><img src="../../Content/m_img/m_user_default.png" class="top-login-img"/></a>
            <div class="top-menu" v-on:click="menuHandle" v-bind:class="{'menu-rotate':menuKey}"><i class="material-icons">menu</i></div>
        </header>
        <div id="panel" class="wrapper">

            <section class="tip-container" style="display:none;" v-show="loginKey">
                <div class="text">登录并完成测评，可根据您的大数据分析推荐职位，匹配率最高可达99%!</div>
                <div class="btn-login-tip"><a href="../home/m_User.html">登录</a></div>
            </section>

            <section class="banner-container">
                <div class="banner-name overflow-text">研发工程师</div>
                <div class="btn-banner-show" v-html="filterKey?'收起选项':'展开选项'" v-on:click="filterShow"><!--展开选项--></div>
                <div class="filter-box" v-bind:class="{'filter-box-show':filterKey}">
                    <div class="filter-item type">
                        <div class="title">工作类型</div>
                        <div class="input-box">
                            <input type="radio" class="filter-radio" name="radio" value="全职" v-model="filterType">
                            <span class="text" v-bind:class="{'text-active':filterType==='全职'}">全职</span>
                            <span class="flo" v-on:click="searchType(1)"></span>
                        </div>
                        <div class="input-box">
                            <input type="radio" class="filter-radio" name="radio" value="实习" v-model="filterType">
                            <span class="text" v-bind:class="{'text-active':filterType==='实习'}">实习</span>
                            <span class="flo" v-on:click="searchType(0)"></span>
                        </div>
                    </div>
                    <div class="filter-item city">
                        <div class="title">选择城市</div>
                        <div class="content" v-html="filterCity!==''?filterCity:'请选择'" v-bind:class="{'content-active':filterCity!==''}"><!--请选择--></div>
                        <select id="filter-city" v-model="filterCity" v-on:change='getCity'>
                            <option value="" selected>不限</option>
                            <option value="全国" class="hot-city">全国</option>
                            <option value="北京">北京</option>
                            <option value="上海">上海</option>
                            <option value="广州">广州</option>
                            <option value="深圳">深圳</option>
                            <option value="武汉">武汉</option>
                            <option value="西安">西安</option>
                            <option value="杭州">杭州</option>
                            <option value="南京">南京</option>
                            <option value="成都">成都</option>
                            <option value="重庆">重庆</option>
                            <option value="东莞">东莞</option>	
                            <option value="大连">大连</option>
                            <option value="沈阳">沈阳</option>
                            <option value="苏州">苏州</option>
                            <option value="昆明">昆明</option>
                            <option value="长沙">长沙</option>
                            <option value="合肥">合肥</option>
                            <option value="宁波">宁波</option>
                            <option value="郑州">郑州</option>
                            <option value="天津">天津</option>
                            <option value="青岛">青岛</option>
                            <option value="济南">济南</option>
                            <option value="哈尔滨">哈尔滨</option>
                            <option value="长春">长春</option>
                            <option value="福州">福州</option>
                            <option value="广东省">广东省</option>
                            <option value="江苏省">江苏省</option>
                            <option value="浙江省">浙江省</option>
                            <option value="四川省">四川省</option>
                            <option value="海南省">海南省</option>
                            <option value="福建省">福建省</option>
                            <option value="山东省">山东省</option>
                            <option value="江西省">江西省</option>
                            <option value="广西">广西</option>
                            <option value="安徽省">安徽省</option>
                            <option value="河北省">河北省</option>	
                            <option value="河南省">河南省</option>
                            <option value="湖北省">湖北省</option>
                            <option value="湖南省">湖南省</option>
                            <option value="陕西省">陕西省</option>
                            <option value="山西省">山西省</option>
                            <option value="黑龙江省">黑龙江省</option>
                            <option value="辽宁省">辽宁省</option>
                            <option value="吉林省">吉林省</option>
                            <option value="云南省">云南省</option>
                            <option value="贵州省">贵州省</option>
                            <option value="甘肃省">甘肃省</option>
                            <option value="内蒙古">内蒙古</option>
                            <option value="宁夏">宁夏</option>
                            <option value="西藏">西藏</option>
                            <option value="新疆">新疆</option>
                            <option value="青海省">青海省</option>
                            <option value="香港">香港</option>
                            <option value="澳门">澳门</option>
                            <option value="台湾">台湾</option>			
                        </select>
                    </div>
                    <div class="filter-item pay">
                        <div class="title">期望薪资</div>
                        <div class="content" v-html="filterPay!==''?filterPay:'请选择'" v-bind:class="{'content-active':filterPay!==''}"><!--请选择--></div>
                        <select id="filter-pay" v-model="filterPay">
                            <option value="" selected>不限</option>
                            <option value="6000-8000">6000-8000</option>
                            <option value="8000-9000">8000-9000</option>
                            <option value="9000-10000">9000-10000</option>
                            <option value="10000-12000">10000-12000</option>
                            <option value="12000-15000">12000-15000</option>
                            <option value="15000-18000">15000-18000</option>
                            <option value="18000-20000">18000-20000</option>
                            <option value="20000-25000">20000-25000</option>
                            <option value="25000-30000">25000-300000</option>					
                        </select>
                    </div>
                    <div class="filter-item industry">
                        <div class="title">选择行业</div>
                        <div class="content" v-html="filterIndustry!==''?filterIndustry:'请选择'" v-bind:class="{'content-active':filterIndustry!==''}"><!--请选择--></div>
                        <select id="filter-industry" v-model="filterIndustry">
                            <option value="" selected>不限</option>
                            <option value="销售/客服/快消房产行业">销售/客服/快消房产行业</option>
                            <option value="产品/技术/IT互联科技行业">产品/技术/IT互联科技行业</option>
                            <option value="银行/证券/金融行业">银行/证券/金融行业</option>
                            <option value="会计/教育/法律/咨询行业">会计/教育/法律/咨询行业</option>
                        </select>
                    </div>
                    <div class="filter-item position">
                        <div class="title">热门职位</div>
                        <div class="content" v-html="filterPosition!==''?filterPosition:'请选择'" v-bind:class="{'content-active':filterPosition!==''}"><!--请选择--></div>
                        <select id="filter-position" v-model="filterPosition">
                            <option value="" selected>不限</option>
                            <option value="会计">会计</option>
                            <option value="销售代表">销售代表</option>
                            <option value="出纳">出纳</option>
                            <option value="销售经理">销售经理</option>
                            <option value="客户经理">客户经理</option>
                            <option value="财务经理">财务经理</option>
                            <option value="客服专员">客服专员</option>
                            <option value="法务专员">法务专员</option>
                            <option value="产品经理">产品经理</option>
                            <option value="人事专员">人事专员</option>
                            <option value="市场专员">市场专员</option>
                            <option value="课程顾问">课程顾问</option>	
                            <option value="财务助理">财务助理</option>
                            <option value="Java开发工程师">Java开发工程师</option>
                            <option value="证券经纪人">证券经纪人</option>
                            <option value="销售顾问">销售顾问</option>
                            <option value="投资顾问">投资顾问</option>
                            <option value="财务总监">财务总监</option>
                            <option value="销售总监">销售总监</option>
                            <option value="储备干部">储备干部</option>
                            <option value="文案策划">文案策划</option>
                            <option value="理财顾问">理财顾问</option>
                            <option value="行政前台">行政前台</option>
                            <option value="法务主管">法务主管</option>
                            <option value="总经理助理">总经理助理</option>
                            <option value="前端开发工程师">前端开发工程师</option>
                            <option value="行政助理">行政助理</option>
                            <option value="平面设计">平面设计</option>
                            <option value="JAVA开发工程师">JAVA开发工程师</option>
                            <option value="软件工程师">软件工程师</option>
                            <option value="外贸业务员">外贸业务员</option>
                            <option value="Android开发工程师">Android开发工程师</option>		
                        </select>
                    </div>
                    <div class="btn-filter-clear" v-on:click="filterClear">清空选择</div>
                </div>
            </section>
            
            <section class="recommend-container">
                <div class="recommend-title"><span><i class="material-icons recommend-title-icon">&#xE80E;</i></span><span>推荐职位</span></div>
                <div class="recommend-dec">根据您的测评和简历进行大数据分析推荐更适合您的职位。</div>
                <div class="recommend-box swiper-container" id="swiper1">
                    <div class="recommend-wrapper swiper-wrapper">
                        <div class="swiper-slide recommend-item" v-for="(item,index) in recommendList" v-bind:key="index" v-bind:index="item.ID">
                            <a v-bind:href="'Index?ID='+item.ID+'&Match='+item.PlatForm">
                                <div class="logo-box">
                                    <img v-bind:src="(item.ImgUrl!=='')&&(item.ImgUrl!==undefined)?item.ImgUrl:'../../Content/m_img/m_empty.png'" onerror="noFindLogo();"  class="logo">
                                </div>
                                <div class="name overflow-text" v-html="item.Name"><!--研发工程师--></div>
                                <div class="company overflow-text" v-html="item.Company"><!--苹果--></div>
                                <div class="demand overflow-text">
                                    <span class="experience" v-html="item.Experience"><!--经验3-5年--></span> 
                                    <span class="education" v-html="(item.Education!==undefined)&&(item.Education!=='')?((item.Experience!==undefined)&&(item.Experience!=='')?'/'+item.Education:item.Education):''"><!--/本科--></span>
                                    <span class="area" v-html="(item.Area!==undefined)&&(item.Area!=='')?((item.Education!==undefined)&&(item.Education!=='')?'/'+item.Area:item.Area):''"><!--/北京-丰台区--></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="list-container">
                <div class="list-top"><span class="text">职位列表</span><span class="dec">根据您的搜索找到的职位</span></div>
                <ul class="list-box">
                    <li class="item" v-for="(item,index) in positionList" v-bind:key="index" v-on:index="item.ID">
                        <a v-bind:href="'Index?ID='+item.ID+'&Match='+item.PlatForm">                  
                            <div class="name overflow-text" v-html="item.Name" v-bind:index="item.ID"><!--研发工程师--></div>
                            <div class="demand overflow-text">
                                <span class="experience" v-html="item.Experience"><!--经验3-5年--></span> 
                                <span class="education" v-html="(item.Education!==undefined)&&(item.Education!=='')?((item.Experience!==undefined)&&(item.Experience!=='')?'/ '+item.Education:item.Education):''"><!--/本科--></span>
                                <span class="area" v-html="(item.Area!==undefined)&&(item.Area!=='')?((item.Education!==undefined)&&(item.Education!=='')?'/ '+item.Area:item.Area):''"><!--/北京-丰台区--></span>
                            </div>
                            <ul class="tags clearbox">
                                <li class="tag" style="display:none;" v-show="(item.TagName!=='')&&(item.TagName!==undefined)" v-html="item.TagName"><!--研发类--></li>
                            </ul>
                            <div class="company-box">
                                <div class="company-logo">
                                    <img v-bind:src="(item.ImgUrl!=='')&&(item.ImgUrl!==undefined)?item.ImgUrl:'../../Content/m_img/m_empty.png'" onerror="noFindLogo();" class="logo">
                                </div>
                                <div class="company-name overflow-text" v-html="item.Company"><!--阿里巴巴--></div>
                            </div>
                            <div class="like-container">
                                <span class="like-box">
                                    <span class="icon yes" style="display:none;" v-show="item.IsLike" v-bind:index="item.ID" v-on:click="likeCut(item.ID,item.IsLike,item.PlatForm,item.Name,item.CompId,item.JID, index)"><i class="material-icons">favoriter</i></span>
                                    <span class="icon no" style="display:none;" v-show="!item.IsLike" v-bind:index="item.ID" v-on:click="likeCut(item.ID,item.IsLike,item.PlatForm,item.Name,item.CompId,item.JID, index)"><i class="material-icons">favorite_border</i></span>
                                    <span class="num" v-html="item.Like"><!--2288832--></span>
                                </span>
                            </div>
                            <div class="match" style="display:none;" v-bind:id="'indicatorContainer'+item.ID" v-show="loginKey"></div>
                            <div class="empty" style="display:none;" v-show="!loginKey" v-bind:index="item.ID"><a href="/Home/m_User">登录查看匹配度</a> </div>
                        </a>
                    </li>
                </ul>
            </section>

            <section class="load-container">
                <span class="loading"></span>
                <span class="load-text">正在加载...</span>
            </section>

            <section class="flo-container" v-bind:class="{'flo-container-show':menuKey}"></section>
        </div>
        <aside id="menu" class="slider-container">
            <div class="slider-wrapper">
                <div class="slider-tip">
                    <div class="tip-text">求职小助手</div>
                    <div class="tip-num">+86 400 123 4567</div>
                </div>
                <ul class="slider-box">
                    <li class="slider-item"><a href="../Assessment/m_Welcome.html">职位兴趣</a></li>
                    <li class="slider-item"><a href="../Job/m_List.html">我的职位</a></li>
                    <li class="slider-item"><a href="../Home/m_Serve.html">服务产品</a></li>
                    <li class="slider-item"><a href="../Home/m_About.html">关于我们</a></li>
                </ul>
                <div class="btn-exit" style="display:none;" v-show="loginKey" v-on:click="exit">安全退出</div>
            </div>
        </aside>
    
    </div>
    <script>
        //注册登陆key值
        var isLogin = "False";
        if (isLogin === 'True') {
            isLogin = true;
        } else {
            isLogin = false;
        }

        var loginPicture='';
        var inputKey='';
        var pageSize = 6;
        var PositionTitle = '';
        var IndustryValue = '';
        var UserID='';
        var UserKey = '4be2950f-4390-4d1c-bcbe-f0d8f1dd7978';
        var positionList=[
            {
                "CompId":"5Xk7hTorTWDEDWN2ACZ5y7XNZsQmeB",
                "Company":"暴风集团",
                "Education":"本科",
                "TagName":"",
                "ID":"5afad5918653ed5c634d585e",
                "IsLike":false,
                "IsMailings":false,
                "Area":"北京 ",
                "ImgUrl":"http://www.lgstatic.com/thumbnail_300x300/i/image2/M00/1E/B8/CgoB5loLuACAQPOTAAIW688lOFQ72.jpeg",
                "Name":"业务部门助理",
                "PlatForm":"lagou",
                "Score":0.9589714666514674,
                "Like":0
            },
            {
                "CompId":"ToQ5FU0ROBxftJhvurSXw0U8JJv4QF",
                "Company":"宁波学大教育培训学校",
                "Education":"",
                "TagName":"中学教师",
                "ID":"5af732b2f3ec0813c7f5d949",
                "IsLike":false,
                "IsMailings":false,
                "Area":"宁波",
                "ImgUrl":"http://img.jdzj.com/UserDocument/2015c/linantp/Picture/2016121133117.jpg",
                "Name":"镇海学大招聘初中语文数学教师",
                "PlatForm":"qiancheng",
                "Score":0.8134660990767303,
                "Like":0
            },
            {
                "CompId":"CObzvUbw9F70MViGFTCJegItqTHXrV",
                "Company":"携程旅行网支持区",
                "Education":"",
                "TagName":"网站运营专员",
                "ID":"5af74d39f3ec0813c6f5e9ea",
                "IsLike":false,
                "IsMailings":false,
                "Area":"上海-长宁区",
                "ImgUrl":"https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=152751…src=http://www.lvyoukan.com/wp-content/uploads/2015/03/2015.03.31.1.13.jpg",
                "Name":"运营策划/活动策划",
                "PlatForm":"qiancheng",
                "Score":0.8871328054393092,
                "Like":0
            },
            {
                "CompId":"0jUwHlQlckbaOLjJZ4jdLGCTsroC0c",
                "Company":"字节跳动",
                "Education":"本科",
                "TagName":"",
                "ID":"5b0be25b52977603c13f0148",
                "IsLike":false,
                "IsMailings":false,
                "Area":"北京 ",
                "ImgUrl":"http://47.104.130.19:8085/static/logos/CgpEMlrUDpCAa0PVAAUIaNb-8lc161.png",
                "Name":"广告优化师",
                "PlatForm":"lagou",
                "Score":0.8257421748699133,
                "Like":0
            },
            {
                "CompId":"MADCqX0y0CaAWIf5etmg9zviLLIXph",
                "Company":"TCL通讯惠州研发中心",
                "Education":"本科",
                "TagName":"家用电器/数码产品研发",
                "ID":"5af716a4f3ec0813c7f5be0b",
                "IsLike":false,
                "IsMailings":false,
                "Area":"惠州",
                "ImgUrl":"http://www.aacnn.com/wp-content/uploads/photo/2014/04/0208383XE.jpg",
                "Name":"硬件工程师(2018届应届生)",
                "PlatForm":"qiancheng",
                "Score":0.8526902275302352,
                "Like":0
            },
            {
                "CompId":"tJQ4dFYR88KgwBJSAHPa6h5oyvnOTP",
                "Company":"平安证券股份有限公司",
                "Education":"本科",
                "TagName":"其他",
                "ID":"5af77adcf3ec0813c6f6109c",
                "IsLike":false,
                "IsMailings":false,
                "Area":"苏州",
                "ImgUrl":"https://img01.51jobcdn.com/fansImg/CompLogo/3/2380/2379353/2379353_120.gif?635700460218527466",
                "Name":"苏州营业部（筹）业务受理岗",
                "PlatForm":"qiancheng",
                "Score":0.8304757926793278,
                "Like":0
            }
        ];
        var recommendList=[
            {
                "CompId":"5Xk7hTorTWDEDWN2ACZ5y7XNZsQmeB",
                "Company":"暴风集团",
                "Education":"本科",
                "TagName":"",
                "ID":"5afad5918653ed5c634d585e",
                "IsLike":false,
                "IsMailings":false,
                "Area":"北京 ",
                "ImgUrl":"http://www.lgstatic.com/thumbnail_300x300/i/image2/M00/1E/B8/CgoB5loLuACAQPOTAAIW688lOFQ72.jpeg",
                "Name":"业务部门助理",
                "PlatForm":"lagou",
                "Score":0.9589714666514674,
                "Like":0
            },
            {
                "CompId":"ToQ5FU0ROBxftJhvurSXw0U8JJv4QF",
                "Company":"宁波学大教育培训学校",
                "Education":"",
                "TagName":"中学教师",
                "ID":"5af732b2f3ec0813c7f5d949",
                "IsLike":false,
                "IsMailings":false,
                "Area":"宁波",
                "ImgUrl":"http://img.jdzj.com/UserDocument/2015c/linantp/Picture/2016121133117.jpg",
                "Name":"镇海学大招聘初中语文数学教师",
                "PlatForm":"qiancheng",
                "Score":0.8134660990767303,
                "Like":0
            },
            {
                "CompId":"CObzvUbw9F70MViGFTCJegItqTHXrV",
                "Company":"携程旅行网支持区",
                "Education":"",
                "TagName":"网站运营专员",
                "ID":"5af74d39f3ec0813c6f5e9ea",
                "IsLike":false,
                "IsMailings":false,
                "Area":"上海-长宁区",
                "ImgUrl":"https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=152751…src=http://www.lvyoukan.com/wp-content/uploads/2015/03/2015.03.31.1.13.jpg",
                "Name":"运营策划/活动策划",
                "PlatForm":"qiancheng",
                "Score":0.8871328054393092,
                "Like":0
            },
            {
                "CompId":"0jUwHlQlckbaOLjJZ4jdLGCTsroC0c",
                "Company":"字节跳动",
                "Education":"本科",
                "TagName":"",
                "ID":"5b0be25b52977603c13f0148",
                "IsLike":false,
                "IsMailings":false,
                "Area":"北京 ",
                "ImgUrl":"http://47.104.130.19:8085/static/logos/CgpEMlrUDpCAa0PVAAUIaNb-8lc161.png",
                "Name":"广告优化师",
                "PlatForm":"lagou",
                "Score":0.8257421748699133,
                "Like":0
            },
            {
                "CompId":"MADCqX0y0CaAWIf5etmg9zviLLIXph",
                "Company":"TCL通讯惠州研发中心",
                "Education":"本科",
                "TagName":"家用电器/数码产品研发",
                "ID":"5af716a4f3ec0813c7f5be0b",
                "IsLike":false,
                "IsMailings":false,
                "Area":"惠州",
                "ImgUrl":"http://www.aacnn.com/wp-content/uploads/photo/2014/04/0208383XE.jpg",
                "Name":"硬件工程师(2018届应届生)",
                "PlatForm":"qiancheng",
                "Score":0.8526902275302352,
                "Like":0
            },
            {
                "CompId":"tJQ4dFYR88KgwBJSAHPa6h5oyvnOTP",
                "Company":"平安证券股份有限公司",
                "Education":"本科",
                "TagName":"其他",
                "ID":"5af77adcf3ec0813c6f6109c",
                "IsLike":false,
                "IsMailings":false,
                "Area":"苏州",
                "ImgUrl":"https://img01.51jobcdn.com/fansImg/CompLogo/3/2380/2379353/2379353_120.gif?635700460218527466",
                "Name":"苏州营业部（筹）业务受理岗",
                "PlatForm":"qiancheng",
                "Score":0.8304757926793278,
                "Like":0
            }
        ];
        var addList=[
            {
                "CompId":"5Xk7hTorTWDEZ5y7XNZsQmeB",
                "Company":"暴风集团",
                "Education":"本科",
                "TagName":"",
                "ID":"5afad5918653e585e",
                "IsLike":false,
                "IsMailings":false,
                "Area":"北京 ",
                "ImgUrl":"http://www.lgstatic.com/thumbnail_300x300/i/image2/M00/1E/B8/CgoB5loLuACAQPOTAAIW688lOFQ72.jpeg",
                "Name":"业务部门助理",
                "PlatForm":"lagou",
                "Score":0.9589714666514674,
                "Like":0
            },
            {
                "CompId":"ToQ5FU0ROBxftXw0U8JJv4QF",
                "Company":"宁波学大教育培训学校",
                "Education":"",
                "TagName":"中学教师",
                "ID":"5af732b2f3ec0f5d949",
                "IsLike":false,
                "IsMailings":false,
                "Area":"宁波",
                "ImgUrl":"http://img.jdzj.com/UserDocument/2015c/linantp/Picture/2016121133117.jpg",
                "Name":"镇海学大招聘初中语文数学教师",
                "PlatForm":"qiancheng",
                "Score":0.8134660990767303,
                "Like":0
            },
            {
                "CompId":"CObzvUbw9FCJegItqTHXrV",
                "Company":"携程旅行网支持区",
                "Education":"",
                "TagName":"网站运营专员",
                "ID":"5af74d39f3ec08ea",
                "IsLike":false,
                "IsMailings":false,
                "Area":"上海-长宁区",
                "ImgUrl":"https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=152751…src=http://www.lvyoukan.com/wp-content/uploads/2015/03/2015.03.31.1.13.jpg",
                "Name":"运营策划/活动策划",
                "PlatForm":"qiancheng",
                "Score":0.8871328054393092,
                "Like":0
            },
            {
                "CompId":"0jUwHlQlckbaOLjJZ4jdLGCTsroC0c",
                "Company":"字节跳动",
                "Education":"本科",
                "TagName":"",
                "ID":"5b05b52977603c13f0148",
                "IsLike":false,
                "IsMailings":false,
                "Area":"北京 ",
                "ImgUrl":"http://47.104.130.19:8085/static/logos/CgpEMlrUDpCAa0PVAAUIaNb-8lc161.png",
                "Name":"广告优化师",
                "PlatForm":"lagou",
                "Score":0.8257421748699133,
                "Like":0
            },
            {
                "CompId":"MADCqX0y0CaAWIf5etmg9zviLLIXph",
                "Company":"TCL通讯惠州研发中心",
                "Education":"本科",
                "TagName":"家用电器/数码产品研发",
                "ID":"5af716a45be0b",
                "IsLike":false,
                "IsMailings":false,
                "Area":"惠州",
                "ImgUrl":"http://www.aacnn.com/wp-content/uploads/photo/2014/04/0208383XE.jpg",
                "Name":"硬件工程师(2018届应届生)",
                "PlatForm":"qiancheng",
                "Score":0.8526902275302352,
                "Like":0
            },
            {
                "CompId":"tJQ4dFYR88KgwBJSAHPa6h5oyvnOTP",
                "Company":"平安证券股份有限公司",
                "Education":"本科",
                "TagName":"其他",
                "ID":"5adcf3ec0813c6f6109c",
                "IsLike":false,
                "IsMailings":false,
                "Area":"苏州",
                "ImgUrl":"https://img01.51jobcdn.com/fansImg/CompLogo/3/2380/2379353/2379353_120.gif?635700460218527466",
                "Name":"苏州营业部（筹）业务受理岗",
                "PlatForm":"qiancheng",
                "Score":0.8304757926793278,
                "Like":0
            }
        ];
    </script>
    <script src="../../Scripts/lib/job_radialIndicator.js"></script>
    <script src="../../Scripts/lib/slideout.min.js"></script>
    <script src="../../Scripts/lib/swiper-4.2.6.min.js"></script>
    <script src="../../Scripts/js/m_List.js?v=20180604"></script>

</body>
</html>