<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-web-app-capable" content="yes">  
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta content="email=no" name="format-detection" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>

    <title></title>
	
    <link rel="stylesheet" href="../../Content/css/m_Base.css">
    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../Content/lib/animate.css">
    <link rel="stylesheet" href="../../Content/lib/toast.css">
    <link rel="stylesheet" href="../../Content/css/m_Template.css">

    <link rel="stylesheet" href="../../Content/fontfamily/NotoSansCJKsc-Light.css" />
    <link rel="stylesheet" href="../../Content/lib/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="../../Content/css/m_About.css?v=20180613">
    
    <script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/lib/vue.min.js"></script>
    <script src="../../Scripts/lib/toast.js"></script>
    <script src="../../Scripts/lib/fastclick.js"></script>
    <script src="../../Scripts/lib/communication.js"></script>
    <script src="../../Scripts/js/m_Template.js"></script>
    <script src="../../Scripts/lib/babel.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <header class="top">
            <a href="/Home/Serve" class="top-back"></a>
            <div class="top-title">关于我们</div>
            <div class="top-menu" v-on:click="menuHandle" v-bind:class="{'menu-rotate':menuKey}"><i class="material-icons">menu</i></div>
        </header>
        <div id="panel" class="wrapper">
            
            <section class="about-container">

                <div class="nav-box">
                    <a href="#my-task" class="active-nav-item nav-item">我们的使命</a>
                    <a href="#my-advantage" class="nav-item">我们的优势</a>
                    <a href="#my-team" class="nav-item">我们的团队</a>
                    <a href="#my-case" class="nav-item">成功案例</a>
                </div>
                
                <div class="banner-box">全球海归留学生中国求职领导者</div>
                <div class="about-us">
                    <div class="us-title">我们是Career Success</div>
                    <ul class="us-list clearbox">
                        <li class="us-item">Career Success（智慧生涯，CS）是上海肯耐珂萨人才服务股份有限公司(www.knx.com.cn)旗下专注于海归留学生实习就业和国际化人才服务的核心项目。</li>
                        <li class="us-item">CS以人才为桥梁，链接企业各阶段发展需求，重塑传统海归留学生招聘模式，实现企业与国际化人才的双赢，为海归大学生职业发展提供专业可靠的全流程24小时不间断精准自助求职服务平台。</li>
                        <li class="us-item">CS的成立延续了KNX作为中国规模最大的提供一站式人力资源服务专业领先的公司，通过为海归留学生人才提供以下服务：①职业雷达站；②求职加油站；③职位面对面；④职场达人堂。</li>
                    </ul>
                </div>
                
                <!-- 使命 -->
                <div class="task" id="my-task">
                    <div class="task-title">我们的使命</div>
                </div>

                <!-- 优势 -->
                <div class="row advantage" id="my-advantage">
                    <div class="advantage-title">我们的优势</div>
                    <ul class="advantage-list clearbox">
                        <li class="advantage-item">
                            <div class="advantage-bg"></div>
                            <div class="advantage-msg">快速 / 精准 / 海量</div>
                            <div class="advantage-text">基于移动互联大数据人才管理，便捷实用、精准高效提供海归留学生实习就业全方位求职服务。</div>
                        </li>
                        <li class="advantage-item">
                            <div class="advantage-bg"></div>
                            <div class="advantage-msg">数十万家合作企业</div>
                            <div class="advantage-text">20年行业品牌客户口碑，已与数十万家中国知名企业建立长期紧密合作，持续为各行业企业输送优质人才。</div>
                        </li>
                        <li class="advantage-item">
                            <div class="advantage-bg"></div>
                            <div class="advantage-msg">数万名优质海归留学生</div>
                            <div class="advantage-text">全球各国各知名院校，为QS排TOP100，TOP200海外各高校海外大学生定期提供稳固的实习就业机会，智慧生涯，职业成功</div>
                        </li>
                    </ul>
                </div>
                <!--专家团队-->
                <div class="row team" id="my-team">
                    <div class="team-bg"></div>
                    <div class="team-box">
                        <div class="team-title">我们的团队</div>
                        <ul class="team-msg-list">
                            <li class="team-msg-item">精通简历、面试、企业招聘流程各环节</li>
                            <li class="team-msg-item">熟悉企业人才选育用留各咨询模块</li>
                            <li class="team-msg-item">24 小时不间断精准自助求职服务</li>
                            <li class="team-msg-item">全中国海归留学实习就业平台领导者</li>
                            <li class="team-msg-item">行业最实战的求职顾问，企业最一线的HR导师</li>
                            <li class="team-msg-item">金融/咨询/IT互联/科技/汽车/医疗医药化工/快消全覆盖</li>
                            <li class="team-msg-item">5-10年+职位经验，10-20年+行业经验</li>
                            <li class="team-msg-item">100%企业HR面试官、100%经理及以上级别</li>
                        </ul>
                                
                        <div class="member-box swiper-container1">
                            <ul class="member-list swiper-wrapper">
                                <li class="member-item swiper-slide">
                                    <div class="item-top">
                                        <img src="../../Content/m_img/m_about_head01.png" alt="团队" />
                                        <div class="item-title">肯耐珂萨董事常务副总裁兼合伙人</div>
                                        <div class="item-name">Ellen Sun</div>
                                    </div>
                                    <ul class="msg-list">
                                        <li class="msg-item">现任肯耐珂萨董事常务副总裁兼合伙人，全权负责中国招聘事业部，包括招聘流程外部业务和高端猎头服务。1998年开始从事高端猎头行业。</li>
                                        <li class="msg-item">服务客户：欧莱雅、联合利华、花旗银行、通用汽车、法国巴黎银行、平安集团等国内外知名企业。</li>
                                        <li class="msg-item">擅长领域：金融和消费品行业。为客户成功的在中国，香港，新加坡，美国，德国等地引进1000多位高端候选人。</li>
                                        <li class="msg-item">近20年高端猎头从业经验，服务客户有欧莱雅、联合利华、花旗银行、通用汽车、平安集团等。</li>
                                    </ul>
                                </li>
                                <li class="member-item swiper-slide">
                                    <div class="item-top">
                                        <img src="../../Content/m_img/m_about_head02.png" alt="团队" />
                                        <div class="item-title">肯耐珂萨研究院执行院长</div>
                                        <div class="item-name">Rengen Li</div>
                                    </div>
                                    <ul class="msg-list">
                                        <li class="msg-item">原可口可乐大学（中国）创办人（1995-1999）,原可口可乐公司全球领导力发展总监（2010-2014）</li>
                                        <li class="msg-item">印地安那大学理学硕士（教学技术学）,弗罗里达州大学哲学博士（教学系统）,乔治亚州大学EMBA</li>
                                        <li class="msg-item">擅长领域：多文化领导力、情商领导力、全脑思维领导力、领导力发展 组织与人才发展等。</li>
                                    </ul>
                                </li>
                                <li class="member-item swiper-slide">
                                    <div class="item-top">
                                        <img src="../../Content/m_img/m_about_head03.png" alt="团队" />
                                        <div class="item-title">肯耐珂萨研究院副院长</div>
                                        <div class="item-name">Icey Han</div>
                                    </div>
                                    <ul class="msg-list">
                                        <li class="msg-item">南开大学应用心理学硕士，武汉大学管理学&amp;法学双学士，人力资源管理师，二级心理咨询师。</li>
                                        <li class="msg-item">服务客户：复星集团、亨通国际、上海大众、景瑞地产、华住集团、优衣库、亨得利、卡西欧等。</li>
                                        <li class="msg-item">擅长领域：人力资源管理实践，对培训与开发、企业文化建设、人才测评、选拔及发展等人资模块有较为深入的理论研究和实践方法。</li>
                                    </ul>
                                </li>
                                <li class="member-item swiper-slide">
                                    <div class="item-top">
                                        <img src="../../Content/m_img/m_about_head04.png" alt="团队" />
                                        <div class="item-title">肯耐珂萨招聘流程外包运营总监</div>
                                        <div class="item-name">Clara Chen</div>
                                    </div>
                                    <ul class="msg-list">
                                        <li class="msg-item">现任肯耐珂萨招聘流程外包运营总监，肯耐珂萨认证讲师，资深招聘专家。</li>
                                        <li class="msg-item">15年人力资源服务行业，包括招聘，培训，绩效，薪酬福利。其中超过10年高管搜寻及人力资源外包服务项目经验。</li>
                                        <li class="msg-item">服务客户：渣打银行，汇丰银行，通用电气，耐克，空气产品，利乐包装，波士顿科学，柯惠医疗等。</li>
                                        <li class="msg-item">擅长领域：招聘流程管理、招聘技能 培训、项目管理。</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-pagination1"></div>
                    </div>
                </div>

                <!--成功案例-->
                <div class="case" id="my-case">
                    <div class="case-title">我们的成功案例</div>
                    <div class="case-box swiper-container2">
                        <ul class="case-list swiper-wrapper">
                            <li class="case-item swiper-slide">
                                <div class="item-top">
                                    <img src="../../Content/m_img/m_about_case01.png" alt="案例" />
                                    <div class="item-top-msg">
                                        <div class="msg-name">Lin Li</div>
                                        <div class="msg-address">密歇根大学</div>
                                        <div class="msg-position blue">百度 | 产品经理</div>
                                    </div>
                                </div>
                                <div class="item-dec">
                                    14年毕业回国入百度LBS做产品经理。我很喜欢我现在的工作，数据分析、用户需求发掘、产品快速迭代，与运营RD们讨论用户。虽然很辛苦但和乐在其中。感谢老师，让我从一个求职小白从零开始准备，帮助我分析规划，一步步协助准备资料，不厌其烦的Mock Interview，最终获得了Baidu的Offer。
                                </div>
                            </li>
                            <li class="case-item swiper-slide">
                                <div class="item-top">
                                    <img src="../../Content/m_img/m_about_case02.png" alt="案例" />
                                    <div class="item-top-msg">
                                        <div class="msg-name">Mike Wu</div>
                                        <div class="msg-address">Boston Univ</div>
                                        <div class="msg-position blue">Boston Univ | 商务拓展</div>
                                    </div>
                                </div>
                                <div class="item-dec">
                                    在美国这几年，一直关心着国内的互联网发展。根据我的情况，咨询师精选了几家优秀的创业公司做重点申请突破。针对每家公司，咨询师帮助我分析理解公司业务，了解职位的工作和要求，根据自己的不足制定学习计划，并从网申开始贴身辅导。经过多轮的严格面试，我最终入职今日头条.
                                </div>
                            </li>
                            <li class="case-item swiper-slide">
                                <div class="item-top">
                                    <img src="../../Content/m_img/m_about_case03.png" alt="案例" />
                                    <div class="item-top-msg">
                                        <div class="msg-name">Steven Lee</div>
                                        <div class="msg-address">明尼苏达大学</div>
                                        <div class="msg-position blue">德勤 | 审计师</div>
                                    </div>
                                </div>
                                <div class="item-dec">
                                    明大Accounting专业，出国四年感觉还是有点脱节，对回国能做什么基本处于懵逼状态。特别感谢导师帮助我走过这段艰苦又快乐的求职过程。他们不厌其烦的帮我分析能力模型、修改简历、Mock Interview，每次笔试面试复盘提出学习计划。我顺利的拿到了德勤深圳所审计方向的offer，希望可以发展顺利吧，加油！
                                </div>
                            </li>
                            <li class="case-item swiper-slide">
                                <div class="item-top">
                                    <img src="../../Content/m_img/m_about_case04.png" alt="案例" />
                                    <div class="item-top-msg">
                                        <div class="msg-name">Sabrina Chan</div>
                                        <div class="msg-address">英国曼彻斯特大学</div>
                                        <div class="msg-position blue">中信银行 | 电子银行部</div>
                                    </div>
                                </div>
                                <div class="item-dec">
                                    英国硕士毕业和国内校招有时间差，专家建议我直接申请股份制商业银行的职位，很多职位虽然是社招但也对毕业生开放。整个申请过程的细节不在赘述，简历递交上去很快就获得面试机会。正式面试前，求职顾跟我通了两个小时的视频面试，把整个面试过程模拟了一遍，重点提醒了很多细节，真的是非常的专业！
                                </div>
                            </li>
                            <li class="case-item swiper-slide">
                                <div class="item-top">
                                    <img src="../../Content/m_img/m_about_case05.png" alt="案例" />
                                    <div class="item-top-msg">
                                        <div class="msg-name">Patrick Hu</div>
                                        <div class="msg-address">UT Austin</div>
                                        <div class="msg-position blue">埃森哲 | 咨询顾问</div>
                                    </div>
                                </div>
                                <div class="item-dec">
                                    在学校读书时候，不太了解IT咨询，老师帮我详细梳理了IT Consulting的工作和职业发展。我个人逻辑能力和沟通能力蛮强，咨询师建议我重点考虑IT咨询。在IBM GBS导师Tina的帮助下，我成功的拿下了Accenture ERP部门的Offer。入职已经半年了，感觉这份工作非常挑战，也很能提升个人能力，真棒！
                                </div>
                            </li>
                            <li class="case-item swiper-slide">
                                <div class="item-top">
                                    <img src="../../Content/m_img/m_about_case06.png" alt="案例" />
                                    <div class="item-top-msg">
                                        <div class="msg-name">Marina Cong</div>
                                        <div class="msg-address">北卡Microsoft</div>
                                        <div class="msg-position blue">MACH | 管培生</div>
                                    </div>
                                </div>
                                <div class="item-dec">
                                    我拿到的是微软MACH管培生机会的Offer，现在rotate在总部从事销售管理。我的专业是商业管理，原本没想到加入微软，咨询师建议我试试MACH Program。因为微软中国在执行Go Big扩张计划，会有很多商科学生的机会。申请过程很艰难也很tough，多亏BCG的专家，帮我攻克了最难的Case Study。
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-pagination2"></div>
                </div>

            </section>

            <section class="flo-container" v-bind:class="{'flo-container-show':menuKey}"></section>
        </div>
        <aside id="menu" class="slider-container">
            <div class="slider-wrapper">
                <div class="slider-tip">
                    <div class="tip-text">求职小助手</div>
                    <div class="tip-num">+86 400 123 4567</div>
                </div>
                <ul class="slider-box">
                    <li class="slider-item"><a href="../Assessment/m_Welcome.html">职位性格</a></li>
                    <li class="slider-item"><a href="../Job/m_List.html">我的职位</a></li>
                    <li class="slider-item"><a href="../Home/m_Serve.html">服务产品</a></li>
                    <li class="slider-item"><a href="../Home/m_About.html">关于我们</a></li>
                </ul>
                <div class="btn-exit" style="display:none;" v-show="loginKey" v-on:click="exit">安全退出</div>
            </div>
        </aside>
        
    </div>
    <script>
        //注册登陆key值
        var isLogin = "False";
        if (isLogin === 'True') {
            isLogin = true;
        } else {
            isLogin = false;
        }

        var Product = JSON.parse('{"ID":1,"ProductName":"职业测评服务产品","Price":598.0,"Remark":null}');
        var OrderNo = '2018061415120310000312411';
        var OrderID = '23';
        var UserName = "13761646494";
        var Tel = "13761646494";
        var Email = "lichxi1002@126.com";
    </script>
    <script src="../../Scripts/lib/slideout.min.js"></script>
    <script src="../../Scripts/lib/swiper-4.2.6.min.js"></script>
    <script src="../../Scripts/js/m_About.js?v=20180604"></script>

</body>
</html>