<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-web-app-capable" content="yes">  
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta content="email=no" name="format-detection" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>

    <title></title>
	
    <link rel="stylesheet" href="../../Content/css/m_Base.css">
    <link rel="stylesheet" href="../../Content/lib/animate.css">
    <link rel="stylesheet" href="../../Content/lib/toast.css">
    <link rel="stylesheet" href="../../Content/css/m_Template.css">

    <link rel="stylesheet" href="../../Content/iconfont/material-icons.css">
    <link rel="stylesheet" href="../../Content/lib/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="../../Content/css/m_User.css?v=20180531">
    
    <script src="../../Scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/lib/vue.min.js"></script>
    <script src="../../Scripts/lib/toast.js"></script>
    <script src="../../Scripts/lib/fastclick.js"></script>
    <script src="../../Scripts/lib/communication.js"></script>
    <script src="../../Scripts/js/m_Template.js"></script>
    <script src="../../Scripts/lib/babel.min.js"></script>

</head>
<body>
    <div class="container" id="app">
        <header class="top">
            <a href="m_Index.html" class="top-back"></a>
            <div class="top-title">登录</div>
            <div class="top-btn">注册</div>
        </header>
        <div class="wrapper">
            <section class="title">欢迎登录Career Success</section>
            <section class="login-container">
                <div class="form-group">
                    <div class="input-box">
                        <input type="text" placeholder="请输入登录手机号">
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="6-16位密码，区分大小写，不能用空格">
                    </div>
                </div>
                <div class="password-box clearbox">
                    <div class="remember">
                        <input type="checkbox" class="remember-input">
                        <span class="remember-text">记住密码</span>
                    </div>
                    <div class="find">忘记密码？</div>
                </div>
                <div class="btn-login">登录</div>
            </section>
        </div>
    </div>
    
    <script src="../../Scripts/lib/slideout.min.js"></script>
    <script src="../../Scripts/lib/swiper-4.2.6.min.js"></script>
    <script src="../../Scripts/js/m_User.js?v=20180531"></script>

</body>
</html>