<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>服务购买协议</title>

    <!-- Public Header -->
	<link rel="stylesheet" href="../../Content/lib/bootstrap.min.css" />
	<link rel="stylesheet" href="../../Content/css/Template.css?v=20171219"/>
		
	<!--[if lt IE 9]>
	    <script src="../../Scripts/lib/html5shiv.min.js"></script>
	    <script src="../../Scripts/lib/respond.min.js"></script>
	<![endif]-->
	    
	<!-- Private Header -->
	<link rel="stylesheet" href="../../Content/fontfamily/NotoSansCJKsc-Light.css" />
	<link rel="stylesheet" href="../../Content/css/PayControl.css?v=20180514"/>

</head>
<body>
	<!--Page Public -->
	<div class="container-fluid" id="app">
		
		<!--********************************************Page Private************************************-->
		<div class="row top-banner">
			<div class="banner-title">服务购买协议内容</div>
		</div>
		
		<section>
			<div class="content-box">
				<div class="item">
					<div class="msg">甲方：已购买求职辅导的用户（下称“甲方”）</div>
					<div class="msg">乙方（CareerSucess）：上海肯耐珂萨人才服务股份有限公司（下称“乙方”）</div>
					<div class="msg">乙方为甲方提供专业服务。甲方认知到乙方通过将技术、内容与服务融合在一起的方式为甲方实现本协议所约定之服务目标。</div>
				</div>
				<div class="item">
					<div class="head">1. 服务/产品</div>
					<div class="msg"><span class="left">1.1</span><span class="right">甲方可根据自身需求，自行通过官网（<span class="red">www.careersuccess.cn</span>）在线选购所需服务，甲方在线选购服务产生的订单即为“电子订单”。双方也可根据实际合作需要，另行签订《补充协议》等文件。</span></div>
					<div class="msg"><span class="left">1.2</span><span class="right">乙方提供培训服务的种类、服务内容、注意事项、收费方式及收费标准等（统称“服务规则”以官网介绍为准。甲方理解并同意，乙方有权单方修改服务规则，甲方有权根据自身需求决定是否继续使用相关服务或申请退款，以保护甲方的合法权益。服务规则应当以甲方官网及购买具体服务时的页面说明为准，双方另有约定除外。</span></div>
					<div class="msg"><span class="left">1.3</span><span class="right">乙方向甲方提供工作日期间<span class="red">9:30-18:00</span>售后服务（不包括法定节假日），协助甲方解答、处理使用服务过程中遇到的问题。</span></div>
				</div>
				
				<div class="item">
					<div class="head">2. 服务保证</div>
					<div class="msg"><span class="left">2.1</span><span class="right"><span class="top">服务质保。</span>本协议项下的所有服务,乙方均应以适当、及时且熟练的方式提供。</span></div>
					<div class="msg"><span class="left">2.2</span><span class="right"><span class="top">产品质保。</span>乙方提供的所有乙方技术产品，如在与具备适当功能的设备或系统配合使用时，未被甲方或第三方变更，则均应于规定的期限内按其配套文件的规定运行良好。在质量保证期限内，乙方均应立即纠正产品技术缺陷或功能障碍，且不得向甲方收取协议外的费用。</span></div>
					<div class="msg"><span class="left">2.3</span><span class="right"><span class="top">知识产权保证。</span>乙方保证其提供的服务或产品均具有合法的知识产权或被适当授权。</span></div>
				</div>
				
				<div class="item">
					<div class="head">3. 保密义务</div>
					<p class="msg-indent">任何一方均应对涉及对方的任何保密信息，包括但不限于商业事务、财务数据及报表、商业秘密、专用技术、研发内容、软件、程序框图及算法、配方、图样、会议内容、文件、策略、知识产权、定价、员工信息或本协议的条款（下称“保密信息”）予以保密，且不得进行披露或复制或为本协议规定或法律要求之外的意图而使用该等信息。双方同意以保护自身保密信息的同等注意程度保护前述保密信息，但在任何情形下，该等注意均不得低于合理注意程度。</p>
					<p class="msg-indent">保密信息不包括下列信息：</p>
					<p class="msg-indent">（a）在接收方并无过错或并未违反本协议规定的情形下公开的信息；</p>
					<p class="msg-indent">（b）于披露之时已为无保密义务的接收方所知晓的信息；</p>
					<p class="msg-indent">（c）由接收方未利用披露方的保密信息而独立开发的信息；</p>
					<p class="msg-indent">（d）由接收方从不受使用或披露限制的第三方正当获取的信息；</p>
					<p class="msg-indent">（e）经披露方事先书面批准而披露的信息。</p>
					<p class="msg-indent">甲方特此授权乙方依据本协议的规定，保留并以匿名形式整体使用甲方向乙方提供的数据，但不能用于本协议之外的其它目的。</p>
				</div>
				
				<div class="item">
					<div class="head">4. 违约责任</div>
					<div class="msg"><span class="left">4.1</span><span class="right">对于因过错方的原因而遭致的任何实际直接损害，过错方应对无过错方进行赔偿、为无过错方辩护并使其利益免遭损害，<span class="red">但赔偿额最高不得超过双方在最近十二（12）月内实际结算的服务费金额。</span></span></div>
					<div class="msg"><span class="left">4.2</span><span class="right">在任何情形下，任何一方对任何使用损耗、利润损失、业务中断、弥补费用或间接性、偶然性、特殊性、附带性、警戒性或惩罚性赔偿，均不承担任何责任。</span></div>
					<div class="msg"><span class="left">4.3</span><span class="right">甲方应对其职业生涯和工作决定负责。乙方对因产品或服务的使用而引起的索赔、损害、责任或费用均不向第三方负责。甲方应为乙方辩护并使乙方免于承担所有此类索赔、损害、责任和费用。如甲方违反了本协议或说明书中规定的付款义务，则本条中规定的乙方义务不发生效力。</span></div>
					<div class="msg"><span class="left">4.4</span><span class="right">甲方在协议签署后，如果发生甲方要求终止协议的情况（乙方单方面违约的情况除外），甲方除应全额支付乙方所有已提供技术产品与服务的费用及所有已发生的需报销的金额外，<span class="red">还需另外支付协议总金额的30%作为违约金。</span></span></div>
				</div>
				
				<div class="item">
					<div class="head">5. 知识产权的所有权</div>
					<p class="msg-indent">除本协议后附的任何说明书中另有明确规定外，双方理解并约定：在乙方为向甲方提供服务和产品而创设、开发或使用软件、数据、程序、材料、内容、课件、服务过程中涉及的内容（包括手册、大纲、PPT、方案、文件及任何相关音频与视频）、或其它知识产权的情形下，乙方对上述相关的知识产权享有排他性所有权和其它权利（包括但不限于占有权）。甲方对前述知识产权在乙方服务期内享有合理的使用权。甲方及其亲属、代理人均不得向第三方披露，亦不得上传到互联网、分享到互联网的朋友圈（除非获得乙方的事先授权）。</p>
				</div>
				
				<div class="item">
					<div class="head">6. 不可抗力</div>
					<p class="msg-indent">甲乙双方对因超出其控制范围的事由所引起（且其自身并无过错）的任何延迟或未能履行协议义务的情形，均不承担任何责任。该等事由包括但不限于自然灾害、暴动、战争行为、火灾、地震、航班延误或取消、电力中断、互联网中断等公用设施故障或其它灾害。在出现该等事由的情形时，本协议项下的履约时间应按推迟的时间予以延长。</p>
				</div>
				
				<div class="item">
					<div class="head">7. 有效期</div>
					<p class="msg-indent">本协议自甲方购买增值服务之日起生效，并应依据本协议第8条规定予以终止。</p>
				</div>
				
				<div class="item">
					<div class="head">8. 终止、补救</div>
					<div class="msg"><span class="left">8.1</span><span class="right"><span class="top">终止。</span>在一方提前三十（30）天向另一方告知下列重大违约状况（下称“违约事件”），且另一方未能对该违约事件做出补救或采取重大措施做出补救的情形下，一方可解除本协议。</span></div>
					<p class="msg-indent">(a)另一方未能履行本协议规定的任何重大义务； </p>
					<p class="msg-indent">(b)另一方资不抵债、破产重组、死亡、停止营业、清算、严重影响本协议履行的并购；</p>
					<div class="msg"><span class="left">8.2</span><span class="right"><span class="top">通过共同协议而终止。</span>双方可通过共同书面协议随时终止本协议。</span></div>
				</div>
				
				<div class="item">
					<p class="msg-indent">甲方同意被纳入乙方的客户名单及公布新客户的新闻稿中，并同意被纳入乙方的客户名单之中。</p>
				</div>
				
				<div class="item">
					<div class="head">10. 一般规定</div>
					<div class="msg"><span class="left">10.1</span><span class="right" style="margin-left:70px;"><span class="top">通知。</span>在说明书和附录中指定的对口联系人、联络地址、手机、电子邮件，如有变更，应在三个工作内通知对方。</span></div>
					<div class="msg"><span class="left">10.2</span><span class="right" style="margin-left:70px;"><span class="top">转让。</span>未经对方事先书面同意，任何一方均不得转让本协议或其任何部分。</span></div>
					<div class="msg"><span class="left">10.3</span><span class="right" style="margin-left:70px;"><span class="top">完整协议；修订；弃权。</span>本协议构成双方就协议标的所达成的完整谅解和协议，并取代本协议签署之前的任何承诺、谅解、约定。对本协议实施的任何变更均须采用书面形式并须经双方授权代表签字或盖章。任何一方于任何时候未能执行本协议任何规定的情形，均不得视为对该条款的放弃，亦不得以任何方式影响本协议或其任何部分的效力或影响该方随后执行任何此类规定的权利。对任何违约情形的放弃，均不得视为对任何其它或随后违约情形的放弃。</span></div>
					<div class="msg"><span class="left">10.4</span><span class="right" style="margin-left:70px;"><span class="top">部分无效。</span>在本协议的任何条款因任何原因而被视为无效、非法或不可执行的情形下，该等无效、非法或不可执行性均不得影响本协议任何其它条款的效力，且本协议应视为不曾包含该等无效、非法或不可执行之条款，但在该条款的删除将导致重大变更进而造成本协议项下的预定交易无法履行的除外。</span></div>
					<div class="msg"><span class="left">10.5</span><span class="right" style="margin-left:70px;"><span class="top">条款标题。</span>本协议中的条款标题仅为参考之便，不构成本协议的组成部分，且不得影响本协议的解释。</span></div>
					<div class="msg"><span class="left">10.6</span><span class="right" style="margin-left:70px;"><span class="top">法律适用和争端解决。</span>本协议的所有条款将受中华人民共和国法律的约束，并按其进行解释。任何因本协议的签署和履行而产生的争议由双方通过友好协商解决，如协商不成，任何一方可向乙方注册地人民法院提起诉讼。</span></div>
				</div>
				
				<div class="item">
					<div class="head"></div>
				</div>
			</div>
		</section>
		
		<!--********************************************Page Private End*********************************-->
		
	</div>
	
	<!-- Public JS -->
	
	<!-- Private JS -->

</body>
</html>
