@charset "utf-8";
/**********************Content***********************/
html,body{
    position:relative;
    width:100%;
    height:100%;
    background:#FBFBFB;
    overflow-x:hidden;
    overflow-y:auto;
}
.container{
    position:relative;
    width:100%;
    height:100%;
}

header{
	position:relative;
	width:100%;
}

.top{
	position:absolute;
	top:0;
	left:0;
	z-index:600;
	width:100%;
	height:40px;
	line-height:40px;
	background:#fff;
	box-shadow: 0 2px 0 0 rgba(228, 228, 228, 0.5);
}

.top .top-back{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:40px;
	height:40px;
	line-height:40px;
	cursor:pointer;
}

.top .top-back:before{
	position:absolute;
	top: 15px;
    left: 15px;
	content:"";
	width:11px;
	height:11px;
	border-left:1px solid #6d6d6d;
	border-bottom:1px solid #6d6d6d;
	
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);		/* IE 9 */
	-webkit-transform: rotate(45deg);	/* Safari and Chrome */
	-o-transform: rotate(45deg);		/* Opera */
	-moz-transform: rotate(45deg);		/* Firefox */
}

.top .top-table{
	position:absolute;
	top:0;
	right:0;
	z-index:10;
	width:56px;
	height:40px;
	line-height:40px;
	font-size: 14px;
  	letter-spacing: 0.9px;
  	text-align:center;
  	color: #0099e5;
}

.top .top-title{
	position:relative;
	float:left;
	width:100%;
	height:40px;
	line-height:40px;
	background:#fff;
	font-size:16px;
	color:#333;
	cursor:pointer;
}




section{
    position:relative;
    width:100%;
}

.banner-container{
	padding-top:40px;
}

section .banner{
    width:100%;
    height:64px;
    background:url(../m_img/assessment_top.png)no-repeat center center;
    background-size:cover;
    line-height: 64px;
    font-size: 16px;
    font-weight: 500;
    color: #ffbf00;
}

section .head{
    position:absolute;
    top:23px;
    left:50%;
    margin-left:-38px;
    z-index:200;
    width:76px;
    height:76px;
    border-radius:100%;
    background:url(../m_img/assessment_head.png)no-repeat center center;
    background-size:100% 100%;
}

section .content{
    margin:0 auto;
    position:relative;
    margin-top:64px;
    width:calc(100% - 20px);
    padding-bottom:20px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 6px 2px rgba(220, 220, 220, 0.5);
}

.content .tip-left{
    position:absolute;
    top:5px;
    left:0;
    z-index:300;
    padding-left:10px;
    width:52px;
    height:22px;
    line-height:22px;
    background:#0099e5;
    text-align:left;
    font-size:11px;
    color:#fff;
}

.content .tip-left:after{
    position:absolute;
    top:0;
    right:0;
    content:"";
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 8px solid #fff;
    border-bottom: 12px solid transparent;
}


.content .tip-right{
    position:absolute;
    top:7px;
    right:20px;
    z-index:300;
    width:52px;
    height:22px;
    line-height:22px;
    text-align:right;
    font-size:11px;
    color:#939393;
}

.content .title{
    padding:47px 20px 20px 20px;
    line-height:20px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #333;
    border-bottom: dashed 1px #ddd;
}

.content .question-container{
    position:relative;
    width:100%;
}

.question-container .question-slide{
    position:relative;
    width:100%;
}

.question-slide .question-wrapper{
    position:relative;
    padding:20px;
    width:100%;
}

.question-wrapper .question-item{
    position:relative;
    margin-bottom:15px;
    width:100%;
    line-height:40px;
    border: solid 1px #dfdfdf;
    font-size:12px;
    color:#6d6d6d;
    text-align:left;
    border-radius: 4px;
    z-index:40;
    cursor:pointer;
}

.question-wrapper .input-active{
    border: solid 1px #009aec;
}

.question-wrapper .question-item .input-radio-label{
	display:block;
	padding:10px 5px 10px 0;
	line-height:20px;
	margin-right:0;
    margin-left:30px;
}

.question-wrapper .question-item .assessment-radio{
	float:left;
	display:none;
	position:relative;
    margin:10px 0 0 13px;
	width: 12px;
  	height: 12px;
  	border-radius: 2px;
 	border: solid 1px #fff;
 	background:transparent;
    outline: 0 !important;
    font-size:12px;
}

.question-wrapper .question-item .input-radio-flo{
	float:left;
	margin:14px 0 0 14px;
    width: 12px;
    height: 12px;
    border-radius:100%;
    background-color: #fff;
    border: solid 1px #c0ccda;
}

.question-wrapper .question-item .input-radio-active{
    border: solid 4px #20a0ff;
}

.question-wrapper .question-item .assessment-no{
	margin-right:20px;
}


section .btn-submit{
    margin:0 auto;
    margin-top:30px;
    width:calc(100% - 90px);
    height: 40px;
    line-height:40px;
    border-radius: 20px;
    background-color: #d6d6d6;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.9px;
    color: #ffffff;
    cursor:default;
}

section .btn-submit-able{
    background:#ffbf00;
    cursor:pointer;
}

.pages-container{
	position:absolute;
	top:0;
	left:0;
	z-index:500;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
}

.pages-container .pages{
	width:100%;
	padding:60px 20px 15px 20px;
	background:#fff;
}

.pages .page{
	float:left;
	margin:0 15px 15px 0;
	width:35px;
	height:35px;
	background:#eff5fb;
	border-radius:18px;
	line-height:35px;
	font-size: 12px;
  	letter-spacing: 0.8px;
  	color: #6d6d6d;
}

.pages .page:last-child{
	width:83px;
}

.pages .disable{
	background:#0099e5;
	color:#fff;
}



footer{
    position:absolute;
    bottom:0;
    left:0;
    z-index:100;
    width:100%;
    height:40px;
    line-height:40px;
    font-size: 14px;
    color: #939393;
    background-color: #ffffff;
    box-shadow: 0 -1px 6px 0 #eeeeee;
}

footer:before{
    position:absolute;
    top:10px;
    left:50%;
    content:"";
    height:20px;
    width:0;
    border-left:1px solid #dfdfdf;
}

footer .btn{
    float:left;
    width:50%;
    height:40px;
    cursor:default;
}

footer .active{
    color:#ffbf00;
    cursor:pointer;
}




/**************Auto Tips************/
.g_alert{
    position: fixed;
    bottom:72%;
    left:50%;
    z-index: 100000;
    margin-left:-130px;
    text-align:center;
    opacity:0;
    padding:10px 20px;
    color:#fff;
    border-radius:3px;
    background: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    font-size:14px;
}


/*********************Media Query********************/



@media (max-device-width: 800px) and (orientation:landscape){
    html,body{
        height:600px;
    }
}

@media screen and (max-width:360px){
	section .banner {
    	height: 60px;
    	line-height:60px;
    }
	section .content{
        padding-bottom:2px;
        margin-top: 50px;
    }
    
    .content .title {
    	padding: 42px 20px 12px 20px;
    }
	
	section .btn-submit {
        margin-top: 25px;
    }
    
    .question-wrapper .question-item{
    	margin-bottom:8px;
    }
    
    section .head {
    	top: 10px;
    }
    
    .question-slide .question-wrapper {
    	padding: 15px;
    }
    
    .question-wrapper .question-item .input-radio-label {
    	padding: 8px 5px 8px 0;
    	line-height: 18px;
    }
    
    .question-wrapper .question-item .input-radio-flo {
    	margin: 11px 0 0 12px;
    }
}

@media screen and (max-width:320px){
	section .banner {
    	height: 54px;
    	line-height: 54px;
    	font-size:14px;
    }
    
    section .head {
    	margin-left: -31px;
    	width: 62px;
    	height: 62px;
    	top: 4px;
    }
    
    section .content{
        margin-top: 36px;
        padding-bottom:3px;
    }
    
    section .btn-submit {
        margin-top: 15px;
    }

    .content .title {
    	padding: 40px 20px 6px 20px;
    }
	
	.question-slide .question-wrapper {
    	padding: 8px;
    }
	
	.question-wrapper .question-item{
    	margin-bottom:8px;
    }

    .question-wrapper .question-item .input-radio-flo {
    	margin: 11px 0 0 8px;
    }
    
    .question-wrapper .question-item .input-radio-label {
	    padding: 8px 5px 8px 0;
	    line-height: 18px;
	    margin-left: 25px;
	}
	
}


