@charset "utf-8";
/**********************Content***********************/
html,body{
    margin:0 auto;
    position:relative;
    width:100%;
    max-width:800px;
    background:#fff;
    overflow-x:hidden;
    overflow-y:scroll; 
}

input:-moz-placeholder,   
textarea:-moz-placeholder {   
    color: #a1a1a1;
    letter-spacing: 1px;   
}   

input:-ms-input-placeholder,   
textarea:-ms-input-placeholder {   
    color: #a1a1a1;
    letter-spacing: 1px;   
}   

input::-webkit-input-placeholder,   
textarea::-webkit-input-placeholder {   
    color: #a1a1a1;
    letter-spacing: 1px;   
}  

.container{
    position:relative;
    width:100%;
    z-index:1;

    transition:all 0.3s;
    -moz-transition: all 0.3s; 
    -webkit-transition: all 0.3s; 
    -o-transition: all 0.3s; 
}

.container-left{
    margin-left:-190px;
}

.container .wrapper{
    position:relative;
    width:100%;
    padding:40px 0 0 0;
    z-index:1;
}

header{
	position:relative;
    width:100%;
    background:#fff;
    z-index:10;
}

section{
    position:relative;
    width:100%;
    background:#fff;
    z-index:10;
}

footer{
	position:relative;
    width:100%;
    background:#fff;
    z-index:10;
}

.top{
	position:fixed;
	top:0;
	left:0;
	z-index:600;
	width:100%;
	height:40px;
	line-height:40px;
	background:#fff;
	/* box-shadow: 0 2px 0 0 rgba(228, 228, 228, 0.5); */
}

.top a.top-search{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:40px;
	height:40px;
	cursor:pointer;
}

.top a.top-search:before{
	position:absolute;
	top: 11px;
    left: 11px;
	content:"";
	width:18px;
    height:18px;
    background:url(../m_img/m_search.png)no-repeat center center;
    background-size:100% 100%;
}

.top .top-logo{
    margin:12px auto;
    position:relative;
	width:100px;
    height:16px;
    background:url(../m_img/m_logo.png)no-repeat center center;
    background-size:100% 100%;
	font-size:16px;
}

.top .top-menu{
    position:absolute;
	top:0;
	right:10px;
	z-index:10;
	width:26px;
    height:40px;
    line-height:40px;
    text-align:center;
	font-size:16px;

    -webkit-transition: transform .3s linear;
    transition: transform .3s linear;
}

.menu-rotate{
    transform: rotate(90deg);
    -webkit-transform:rotate(90deg); 
}

.top .top-menu i{
    color:#6d6d6d;
    line-height:40px;
}

.top .top-user{
    position:absolute;
	top:0;
	right:40px;
	z-index:10;
	width:26px;
    height:40px;
    line-height:40px;
    text-align:center;
	font-size:16px;
}

.top .top-user i{
    color:#6d6d6d;
    line-height:40px;
}
/******************************banner************************************/
section.banner-container{
    width:100%;
    height:156px;
    background:url(../m_img/m_home_banner.png)no-repeat center center;
    background-size:cover;
}

.banner-container .banner-title{
    padding-top:35px;
    font-size: 18px;
    line-height:27px;
    font-weight: 500;
    letter-spacing: 1.3px;
    color: #ffbf00;
}

.banner-container .banner-msg{
    font-size: 12px;
    line-height:18px;
    letter-spacing: 0.9px;
    color: #fff;
}

.banner-container .banner-msg span {
    display: inline-block;
    padding: 0 3px;
}

.banner-container .banner-view-btn {
    margin: 0 auto;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    line-height:30px;
    border-radius: 2px;
    background-color: #ffcf40;
    cursor:pointer;
}

.banner-container .banner-view-btn a {
    display: block;
    border-radius: 2px;
    background-color: #ffcf40;
    font-size: 11px;
    font-weight: 500;
    color: #333;
    cursor:pointer;
}

section.banner-two{
    position:relative;
    width:100%;
    height:40px;
    background:url(../m_img/m_home_banner2.png)no-repeat center center;
    background-size:cover;
}

/************************************position*********************************/
section.position-container{
    position:relative;
}

section.position-container .position-title{
    padding:20px 0;
    line-height:24px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-align: center;
    color: #333;
}

section.position-container .swiper-container1{
    position:relative;
    width:100%;
    height:140px;
}

section.position-container .swiper-container1 .swiper-wrapper{
    position:relative;
    width:100%;
    height:100%;
}

section.position-container .swiper-container1 .swiper-wrapper .swiper-slide{
    position:relative;
    padding-left:15px;
    float:left;
    width:165px;
}

section.position-container .swiper-container1 .swiper-wrapper .swiper-slide:last-child{
    width:180px;
    padding-right:15px;
}

section.position-container .swiper-container1 .swiper-wrapper .swiper-slide a{
    display:block;
    position:relative;
    text-align:left;
    width:150px;
    height:140px;
}

section.position-container .swiper-container1 .swiper-wrapper .swiper-slide a .position-logo{
    position:relative;
    width:150px;
    height:90px;
}

section.position-container .swiper-container1 .swiper-wrapper .swiper-slide a .logo-one{
    background:url(../../Content/m_img/m_home_industry1.png)no-repeat center center;
    background-size:cover;
}

section.position-container .swiper-container1 .swiper-wrapper .swiper-slide a .logo-two{
    background:url(../../Content/m_img/m_home_industry2.png)no-repeat center center;
    background-size:cover;
}

section.position-container .swiper-container1 .swiper-wrapper .swiper-slide a .logo-three{
    background:url(../../Content/m_img/m_home_industry3.png)no-repeat center center;
    background-size:cover;
}

section.position-container .swiper-container1 .swiper-wrapper .swiper-slide a .logo-four{
    background:url(../../Content/m_img/m_home_industry4.png)no-repeat center center;
    background-size:cover;
}

section.position-container .swiper-container1 .swiper-wrapper .swiper-slide a .logo-five{
    background:url(../../Content/m_img/m_home_industry5.png)no-repeat center center;
    background-size:cover;
}
section.position-container .swiper-container1 .swiper-wrapper .swiper-slide a .position-item-title{
    padding-top:5px;
    line-height:20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    color: #333;
}

section.position-container .swiper-container1 .swiper-wrapper .swiper-slide a .position-num{
    padding-top:4px;
    line-height:17px;
    font-size: 11px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #808080;
}

section.position-container .position-view-btn{
    margin-top:20px;
    position:relative;
    width:100%;
    height: 37px;
    text-align:center;
    background-color: #ffffff;
    border-top: solid 1px #f4f3f3;
}

section.position-container .position-view-btn a{
    display:inline-block;
    width:100px;
    height:36px;
    line-height:36px;
    background:#fff;
    font-size:11px;
    text-align:center;
    color:#faba46;
    letter-spacing:0.7px;
}

/*******************************speed**********************************/
section.speed-container{
    padding:20px 0;
    background-color: #f3f5f7;
}

section.speed-container .speed-title{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-align: center;
    color: #333;
}

section.speed-container .speed-wrapper{
    position:relative;
    width:100%;
    text-align:center;
}

section.speed-container .speed-wrapper .speed-item{
    display:inline-block;
    position:relative;
    padding:15px 10px 0 10px;
    text-align:center;
    max-width:160px;
}

section.speed-container .speed-wrapper .speed-item .speed-icon{
    margin:0 auto;
    width:80px;
    height:80px;
}

section.speed-container .speed-wrapper .speed-item:nth-child(1) .speed-icon{
    background:url(../m_img/m_home_speed1.png)no-repeat center center;
    background-size:100% 100%;
}

section.speed-container .speed-wrapper .speed-item:nth-child(2) .speed-icon{
    background:url(../m_img/m_home_speed2.png)no-repeat center center;
    background-size:100% 100%;
}

section.speed-container .speed-wrapper .speed-item:nth-child(3) .speed-icon{
    background:url(../m_img/m_home_speed3.png)no-repeat center center;
    background-size:100% 100%;
}

section.speed-container .speed-wrapper .speed-item:nth-child(4) .speed-icon{
    background:url(../m_img/m_home_speed4.png)no-repeat center center;
    background-size:100% 100%;
}

section.speed-container .speed-wrapper .speed-item .speed-title{
    line-height:20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    color: #6d6d6d;
}

section.speed-container .speed-wrapper .speed-item .speed-dec{
    padding-top:5px;
    line-height:17px;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #8b8b8b;
}

section.speed-container .speed-about-btn{
    margin: 0 auto;
    margin-top: 20px;
    width: 120px;
    height: 32px;
    line-height:32px;
    border-radius: 2px;
    background-color: #ffbf00;
    cursor:pointer;
}

section.speed-container .speed-about-btn a{
    display: block;
    border-radius: 2px;
    background: #ffbf00;
    font-size: 11px;
    color: #fff;
    text-align: center;
}

/******************************work******************************/

section.work-container{
    padding-bottom:10px;
    position:relative;
    background-color: #5fbfc9;
}

section.work-container .work-title{
    padding:20px 0;
    line-height:24px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-align: center;
    color: #fff;
}

section.work-container .swiper-container2{
    position:relative;
    width:100%;
}

section.work-container .swiper-container2 .swiper-wrapper{
    position:relative;
    width:100%;
    padding-bottom:15px;
}

section.work-container .swiper-container2 .swiper-wrapper .swiper-slide{
    position:relative;
    width:100%;
}

section.work-container .swiper-container2 .swiper-wrapper .swiper-slide .item-box{
    margin:0 auto;
    position:relative;
    padding-left:40px;
    width:300px;
}

section.work-container .swiper-container2 .swiper-wrapper .swiper-slide .item-box .work-logo{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:30px;
    height:30px;
}

section.work-container .swiper-container2 .swiper-wrapper .swiper-slide .item-box .logo-one{
    background:url(../../Content/m_img/m_home_work1.png)no-repeat center center;
    background-size:cover;
}

section.work-container .swiper-container2 .swiper-wrapper .swiper-slide .item-box .logo-two{
    background:url(../../Content/m_img/m_home_work2.png)no-repeat center center;
    background-size:cover;
}

section.work-container .swiper-container2 .swiper-wrapper .swiper-slide .item-box .logo-three{
    background:url(../../Content/m_img/m_home_work3.png)no-repeat center center;
    background-size:cover;
}

section.work-container .swiper-container2 .swiper-wrapper .swiper-slide .item-box .work-item-title{
    line-height:20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    color: #fff;
}

section.work-container .swiper-container2 .swiper-wrapper .swiper-slide .item-box .work-dec{
    padding-top:5px;
    line-height:16px;
    font-size: 11px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #fff;
}

.swiper-pagination-bullet{
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

/******************************COmpany******************************/

section.company-container{
    padding-bottom:10px;
    position:relative;
    background-color: #ffffff;
}

section.company-container .swiper-container3{
    position:relative;
    width:100%;
}

section.company-container .swiper-container3 .swiper-wrapper{
    position:relative;
    width:100%;
}

section.company-container .swiper-container3 .swiper-wrapper .swiper-slide{
    position:relative;
    height:80px;
    padding:20px;
}

section.company-container .swiper-container3 .swiper-wrapper .swiper-slide .item-box{
    margin:0 auto;
    position:relative;
    width:340px;
    height:40px;
    background:url(../m_img/m_home_company.png)no-repeat center center;
    background-size:100% 100%;
}

section.company-container .swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: linear; /*之前是ease-out*/
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    margin: 0 auto;
}

/**********************************************contact********************************************/
section.contact-container{
    height:260px;
    padding:15px 0 40px 0;
    background:url(../m_img/m_home_contact.png)no-repeat center center;
    background-size:cover;
}

section.contact-container .contact-wrapper{
    margin:0 auto;
    padding-bottom:20px;
    width:345px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 11px 0 rgba(206, 206, 206, 0.5);
}

section.contact-container .contact-wrapper .contact-title{
    line-height:50px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-align: center;
    color: #333;
    border-bottom:1px dashed #e1e8ef;
}

section.contact-container .contact-wrapper .contact-item{
    position:relative;
    padding-left:55px;
    padding-top:10px;
    line-height:20px;
    font-size: 12px;
    text-align: left;
    color: #6d6d6d;
}

section.contact-container .contact-wrapper .contact-item i{
    display:block;
    position:absolute;
    top:13px;
    left:25px;
    z-index:10;
    font-size:16px;
}


section.contact-container .contact-serve-btn{
    margin: 0 auto;
    width: 120px;
    margin-top:20px;
    height: 32px;
    line-height:32px;
    border-radius: 2px;
    background-color: #ffbf00;
    cursor:pointer;
}

section.contact-container .contact-serve-btn a{
    display: block;
    border-radius: 2px;
    background: #ffbf00;
    font-size: 11px;
    color: #fff;
    text-align: center;
}

/******************************slider meun*******************************/
.slideout-menu {
    position: fixed;
    right: 0;
    top: 40px;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 190px;
    height:100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    border-top:1px solid #f3f5f7;
}
  
.slideout-panel {
    position:relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.slideout-menu-right {
    right: 0;
}

aside.slider-container{
    height:100%;
}

aside.slider-container .slider-wrapper{
    position:relative;
    width:100%;
    overflow-y:scroll;
    padding-bottom:100px;
}

aside.slider-container .slider-wrapper .slider-tip{
    margin:10px auto;
    width: 170px;
    height: 70px;
    border-radius: 4px;
    background-color: #3f444a;
    box-shadow: 0 2px 4px 0 rgba(166, 166, 166, 0.5);
}

aside.slider-container .slider-wrapper .slider-tip .tip-text{
    padding-top:15px;
    line-height:20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #ffbf00;
}

aside.slider-container .slider-wrapper .slider-tip .tip-num{
    padding-top:2px;
    line-height:18px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.9px;
    text-align: center;
    color: #fff;
}

aside.slider-container .slider-wrapper .slider-box{
    position:relative;
    width:100%;
}

aside.slider-container .slider-wrapper .slider-box li.slider-item{
    display:block;
    height:40px;
    width:100%;
    line-height:39px;
    text-align:center;
    border-bottom:1px solid #f3f5f7;
    cursor:pointer;
}

aside.slider-container .slider-wrapper .slider-box li.slider-item a{
    display:block;
    height:39px;
    width:100%;
    line-height:39px;
    font-size:14px;
    color:#6d6d6d;
    text-align:center;
}

aside.slider-container .slider-wrapper .slider-box li.slider-active a{
    color:#ffbf00;
}


/*********************Media Query********************/
@media (max-device-width: 800px) and (orientation:landscape){
    
}

@media screen and (max-width:414px){
	section.company-container .swiper-container3 .swiper-wrapper .swiper-slide .item-box{
        width:390px;
    }
}

@media screen and (max-width:384px){
	section.company-container .swiper-container3 .swiper-wrapper .swiper-slide .item-box{
        width:360px;
    }
}

@media screen and (max-width:375px){
	section.company-container .swiper-container3 .swiper-wrapper .swiper-slide .item-box{
        width:350px;
    }
}

@media screen and (max-width:360px){
	section.company-container .swiper-container3 .swiper-wrapper .swiper-slide .item-box{
        width:340px;
    }
}

@media screen and (max-width:320px){
    section.speed-container .speed-wrapper .speed-item {
        padding: 15px 7px 0 7px;
        max-width: 156px;
    }

	section.company-container .swiper-container3 .swiper-wrapper .swiper-slide .item-box{
        width:305px;
    }

    section.contact-container .contact-wrapper {
        width: 300px;
    }

    section.contact-container .contact-wrapper .contact-item {
        padding-left: 25px;
    }

    section.contact-container .contact-wrapper .contact-item i {
        top: 14px;
        left: 6px;
        z-index: 10;
        font-size: 14px;
    }
}


