@charset "utf-8";
/**********************Content***********************/
html,body{
    overflow-y:scroll;
    overflow-x:hidden;
    background:#f3f5f7;
}

.container{
    overflow-x:scroll;
    overflow-y:hidden;
}

section{
    z-index:auto;
}

/**************************************Assessment List***********************************/
section.back-assessment-container{
    padding:0 15px;
    padding-bottom:60px;
    background:#f3f5f7;
}

section.back-assessment-container .assessment-list{
    position:relative;
    padding-bottom:60px;
}

section.back-assessment-container .assessment-list .assessment-item{
    position:relative;
    padding:15px;
	margin-bottom:8px;
	width:100%;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(210, 210, 210, 0.5);
}

section.back-assessment-container .assessment-list .assessment-item .title{
    line-height:24px;
    text-align:left;
  	font-size:16px;
  	font-weight:500;
  	color:#333;
}

section.back-assessment-container .assessment-list .assessment-item .item-text{
    padding-top:10px;
	line-height:20px;
	font-size:12px;
    color:#9d9d9d;
    text-align:left;
}

section.back-assessment-container .assessment-list .assessment-item .item-stars{
    margin-top:5px;
	height:20px;
	line-height:17px;
	font-size:12px;
	text-align:left;
	color:#6d6d6d;
}

section.back-assessment-container .assessment-list .assessment-item .item-stars span{
	float:left;
	line-height:20px;
}

section.back-assessment-container .assessment-list .assessment-item .item-stars .stars{
	margin-right:3px;
	font-size:15px;
	color:#efa03c;
}

section.back-assessment-container .assessment-list .assessment-item .item-stars .stars-num{
	padding-left:10px;
}

/*******************************************Media Query******************************************/
@media (max-device-width: 800px) and (orientation:landscape){
    html,body{
        height:600px;
    }
}

@media screen and (max-width:414px){
	
}

@media screen and (max-width:384px){
	
}

@media screen and (max-width:375px){
	
}

@media screen and (max-width:360px){
	
}

@media screen and (max-width:320px){
    
}

