@charset "utf-8";
/**********************Content***********************/
html,body{
    overflow-y:scroll;
    overflow-x:hidden;
}
.container{
    overflow-x:hidden;
    overflow-y:scroll;
}

section{
    z-index:auto;
}

/*******************************************Media Query******************************************/
@media (max-device-width: 800px) and (orientation:landscape){

}

@media screen and (max-width:414px){
	
}

@media screen and (max-width:384px){
	
}

@media screen and (max-width:375px){
	
}

@media screen and (max-width:360px){
	
}

@media screen and (max-width:320px){
    
}

