@charset "utf-8";
/**********************Content***********************/
input:-moz-placeholder,   
textarea:-moz-placeholder {   
    color: #a1a1a1;
    letter-spacing: 1px;   
}   

input:-ms-input-placeholder,   
textarea:-ms-input-placeholder {   
    color: #a1a1a1;
    letter-spacing: 1px;   
}   

input::-webkit-input-placeholder,   
textarea::-webkit-input-placeholder {   
    color: #a1a1a1;
    letter-spacing: 1px;   
}  

.container{
    position:relative;
    width:100%;
    z-index:1;
    overflow-x:hidden;
    overflow-y:scroll;
}

.container .wrapper{
    position:relative;
    width:100%;
    padding:40px 0 0 0;
    z-index:1;
}

header{
	position:relative;
    width:100%;
    background:#fff;
    z-index:10;
}

section{
    position:relative;
    width:100%;
    background:#fff;
    z-index:10;
}

footer{
	position:relative;
    width:100%;
    background:#fff;
    z-index:10;
}


/*************************************顶部导航栏*******************************/
.top{
	position:fixed;
	top:0;
	left:0;
	z-index:600;
	width:100%;
	height:40px;
	line-height:40px;
	background:#fff;
	/* box-shadow: 0 2px 6px 0 rgba(228, 228, 228, 0.5); */
}

.top a.top-back{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:40px;
	height:40px;
	line-height:40px;
	cursor:pointer;
}

.top a.top-back:before{
	position:absolute;
	top: 15px;
    left: 15px;
	content:"";
	width:11px;
	height:11px;
	border-left:1px solid #6d6d6d;
	border-bottom:1px solid #6d6d6d;
	
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);		/* IE 9 */
	-webkit-transform: rotate(45deg);	/* Safari and Chrome */
	-o-transform: rotate(45deg);		/* Opera */
	-moz-transform: rotate(45deg);		/* Firefox */
}

.top a.top-search{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:40px;
	height:40px;
	cursor:pointer;
}

.top a.top-search:before{
	position:absolute;
	top: 11px;
    left: 11px;
	content:"";
	width:18px;
    height:18px;
    background:url(../m_img/m_search.png)no-repeat center center;
    background-size:100% 100%;
}

.top .top-logo{
    margin:12px auto;
    position:relative;
	width:100px;
    height:16px;
    background:url(../m_img/m_logo.png)no-repeat center center;
    background-size:100% 100%;
	font-size:16px;
}

.top .top-menu{
    position:absolute;
	top:0;
	right:10px;
	z-index:10;
	width:26px;
    height:40px;
    line-height:40px;
    text-align:center;
	font-size:16px;

    -webkit-transition: transform .3s linear;
    transition: transform .3s linear;
}

.menu-rotate{
    transform: rotate(90deg);
    -webkit-transform:rotate(90deg); 
}

.top .top-menu i{
    color:#6d6d6d;
    line-height:40px;
}

.top .top-user{
    position:absolute;
	top:0;
	right:40px;
	z-index:10;
	width:26px;
    height:40px;
    line-height:40px;
    text-align:center;
	font-size:16px;
}

.top .top-user i{
    color:#6d6d6d;
    line-height:40px;
}

.top .top-btn{
    position:absolute;
    top:0;
    right:10px;
    z-index:10;
	width:40px;
	height:40px;
	line-height:40px;
    cursor:pointer;
    font-size:14px;
    color:#333;
}



/******************************侧滑导航*******************************/
.slideout-menu {
    position: fixed;
    right: 0;
    top: 40px;
    bottom: 0;
    z-index: 0;
    width: 190px;
    height:100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    border-top:1px solid #f3f5f7;
}
  
.slideout-panel {
    position:relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.slideout-menu-right {
    right: 0;
}

aside.slider-container{
    height:100%;
}

aside.slider-container .slider-wrapper{
    position:relative;
    width:100%;
    overflow-y:scroll;
    padding-bottom:100px;
}

aside.slider-container .slider-wrapper .slider-tip{
    margin:10px auto;
    width: 170px;
    height: 70px;
    border-radius: 4px;
    background-color: #3f444a;
    box-shadow: 0 2px 4px 0 rgba(166, 166, 166, 0.5);
}

aside.slider-container .slider-wrapper .slider-tip .tip-text{
    padding-top:15px;
    line-height:20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #ffbf00;
}

aside.slider-container .slider-wrapper .slider-tip .tip-num{
    padding-top:2px;
    line-height:18px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.9px;
    text-align: center;
    color: #fff;
}

aside.slider-container .slider-wrapper .slider-box{
    position:relative;
    width:100%;
}

aside.slider-container .slider-wrapper .slider-box li.slider-item{
    display:block;
    height:40px;
    width:100%;
    line-height:39px;
    text-align:center;
    border-bottom:1px solid #f3f5f7;
    cursor:pointer;
}

aside.slider-container .slider-wrapper .slider-box li.slider-item a{
    display:block;
    height:39px;
    width:100%;
    line-height:39px;
    font-size:14px;
    color:#6d6d6d;
    text-align:center;
}

aside.slider-container .slider-wrapper .slider-box li.slider-active a{
    color:#ffbf00;
}


