@charset "utf-8";
/**********************Content***********************/
html,body{
    position:relative;
    width:100%;
    height:100%;
    overflow-x: hidden;
    overflow-y:scroll;
}

input:-moz-placeholder,   
textarea:-moz-placeholder {  
    font-size:12px; 
    color: #a2a2a2;
    letter-spacing: 0.8px;   
}   

input:-ms-input-placeholder,   
textarea:-ms-input-placeholder {   
    font-size:12px; 
    color: #a2a2a2;
    letter-spacing: 0.8px;    
}   

input::-webkit-input-placeholder,   
textarea::-webkit-input-placeholder {   
    font-size:12px; 
    color: #a2a2a2;
    letter-spacing: 0.8px;   
} 

.container{
    width:100%;
    height:100%;
}

.container .wrapper{
    width:100%;
    height:100%;
    background:url(../m_img/m_user_bg.jpg)no-repeat center center;
    background-size:100% 100%;
}

.top{
    box-shadow: 0 2px 6px 0 rgba(228, 228, 228, 0.5);
}

/******************************Form*************************************/
section.title{
    padding:30px 0;
    line-height:24px;
    font-size:16px;
    color:#333;
    letter-spacing:1px;
    background:transparent;
    font-weight:500;
}

section.form-container{
    margin:0 auto;
    padding-bottom:10px;
    width:345px;
    background:transparent;
}

section .form-group{
    position:relative;
    width:100%;
}

section .form-group .input-box{
    position:relative;
    margin-bottom:10px;
    width:100%;
    height:36px;
}

section .form-group .input-box input{
    display:block;
    position:relative;
    padding:9px 70px 9px 10px;
    width:100%;
    height:36px;
    line-height:18px;
    font-size:12px;
    text-align:left;
    color:#333;
    border:1px solid #e8e8e8;
    background:#fff;
    outline:none;

    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

section .form-group .input-box input:focus{
    border-color: #009aec;
    outline:none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,154,236,0.45);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,154,236,0.45);
}

section .form-group .input-box .input-clear{
    position:absolute;
    top:10px;
    right:10px;
    z-index:10;
    width:17px;
    height:17px;
    background:rgba(0,0,0,0.3);
    border-radius:100%;
    cursor:pointer;
}

section .form-group .input-box .input-clear:before{
    position:absolute;
    top: 4px;
    left: 8px;
    content:"";
    height:9px;
    width:0;
    border-left:1px solid #f1f1f1;

    transform:rotate(-45deg);
    -webkit-transform:rotate(-45px);
}

section .form-group .input-box .input-clear:after{
    position:absolute;
    top: 8px;
    left: 4px;
    content:"";
    width:9px;
    height:0;
    border-top:1px solid #f1f1f1;

    transform:rotate(-45deg);
    -webkit-transform:rotate(-45px);
}

section .form-group .input-box .input-visible{
    position:absolute;
    top:9px;
    right:10px;
    z-index:10;
    width:20px;
    height:20px;
    color:#333;
    cursor:pointer;
}

section .form-group .input-box .input-disable{
    color:#a1a1a1;
}

section .form-group .input-box .input-visible i{
    font-size:20px;
}

section .btn{
    width: 345px;
    height: 40px;
    line-height:40px;
    border-radius: 20px;
    background-color: #ffbf00;
    font-size:14px;
    letter-spacing:0.9px;
    opacity:0.55;
    color:#fff;
    -webkit-box-shadow: inset 0 -4px 0 #e4b936;
    box-shadow: inset 0 -4px 0 #e4b936; 
}

section.form-container .form-group .code-box .code-btn{
    display:block;
    position:absolute;
    top:1px;
    right:1px;
    width:80px;
    height:34px;
    line-height:34px;
    background:#fff;
    font-size:12px;
    color:#63abff;
    text-align:center;
}

section.form-container .form-group .code-box .code-btn:before{
    position:absolute;
    top:8px;
    left:0px;
    content:"";
    width:0;
    height:20px;
    border-left:1px solid #e8e8e8;
}

section.form-container .form-group .code-box .form-code{
    padding-right:110px;
}

section.form-container .form-group .code-box .input-clear{
    right:90px;
}

/**************************Login****************************/
section.login-container .form-group .login-box .login-clear{
    right:45px;
}

section.login-container .password-box{
    position:relative;
    padding:10px 5px 20px 5px;
    width:100%;
}

section.login-container .password-box .remember{
    float:left;
    line-height:17px;
    color:#6d6d6d;
    font-size:11px;
    letter-spacing:0.7px;
    text-align:left;
}

section.login-container .password-box .remember .remember-text{
    position: relative;
    float:left;
}

section.login-container .password-box .find{
    padding:4px;
    float:right;
    font-size:11px;
    letter-spacing:0.7px;
    cursor:pointer;
}

section.login-container .password-box .remember input[type=checkbox].remember-input{
    display:block;
    position: relative;
    float:left;
    margin: 3px;
    padding: 0;
    width: 13px;
    height: 13px;
    outline: 0 !important;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    resize:none;
    
    -webkit-appearance: none;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
}

section.login-container .password-box .remember input[type=checkbox]:checked.remember-input{
    border:1px solid #63abff;
    background-color: #63abff;
}

input[type=checkbox]:checked:before{
	position: absolute;
    top: 2px;
    left: 1px;
    width: 7px;
    height: 3px;
    content: '';
    color: #fff;
    border-bottom: solid 2px #fff;
    border-left: solid 2px #fff;
    outline:none;
    resize:none;
    
    -ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
    transform: rotate(-45deg);
}

section.login-container .btn-login-able{
    opacity:1;
}

/**********************************************Register******************************************/
section.register-container .register-tip{
    padding:5px 0 25px 0;
    margin:0 auto;
    line-height:20px;
    font-size:13px;
    color:#6d6d6d;
    text-align:left;
}

section.register-container .register-tip a{
    color:#63abff;
}

section.register-container .btn-register-able{
    opacity:1;
}

/*******************************************Find********************************************/
section.find-container .btn-find{
    margin-top:20px;
}

section.find-container .btn-find-able{
    opacity:1;
}

/*******************************************Media Query******************************************/
@media (max-device-width: 800px) and (orientation:landscape){
    html,body{
        height:600px;
    }
}

@media screen and (max-width:414px){
	
}

@media screen and (max-width:384px){
	
}

@media screen and (max-width:375px){
	
}

@media screen and (max-width:360px){
	
}

@media screen and (max-width:320px){
    section.title {
        padding: 20px 0;
        line-height: 20px;
        font-size: 15px;
    }

    section.form-container{
        margin:0 auto;
        width:300px;
        background:transparent;
    }

    section .form-group .input-box{
        position: relative;
        margin-bottom: 7px;
        width: 100%;
        height: 32px;
    }

    section .form-group .input-box input {
        padding: 8px 60px 8px 10px;
        width: 100%;
        height: 32px;
        line-height: 16px;
    }

    section .form-group .input-box .input-clear {
        top: 8px;
    }

    section .form-group .input-box .input-visible {
        top: 6px;
    }

    section.register-container .register-tip {
        padding-bottom:15px;
        margin: 0 auto;
        line-height: 16px;
        font-size: 12px;
    }

    section .btn {
        width: 300px;
        height: 36px;
        line-height: 36px;
        border-radius: 18px;
        font-size: 13px;
    }

    section.login-container .form-group .login-box .login-clear {
        right: 40px;
    }

    section.form-container .form-group .code-box .code-btn {
        height: 30px;
        line-height: 30px;
    }

    section.form-container .form-group .code-box .code-btn:before{
        position: absolute;
        top: 8px;
        height:16px;
    }
    
    section .form-group .find-box input.find-password{
        padding: 8px 50px 8px 10px;
    }
}


